@charset "utf-8";
/* CSS Document */

*{
  padding:0px;
  margin:0px;
}

.pc_only{
	display: none;
}
.sp_only{
	display: inline;
}

div img { vertical-align: text-bottom;padding:0px; margin:0px;}
img{border:0px;}
table,img,p {
    border: 0;
}

body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #555555;
    background-color: #ffffff;
    font-size: 92.5%;
    line-height: 150%;
    letter-spacing:1px;
}

li {
    list-style-type: none;
}

select {
    border: solid 1px #ccc;
}

.select_box_color{
    background-color:#FFCF9C;
}


#container p,
#container h3{
    font-size:22px;
    font-weight:normal;
}

#container{
    font-size:22px;
    width: 97%;
    text-align:left;
    padding: 0 3px;
}

.btn_area2{
    text-align:center;
    margin:20px auto;
    line-height:50px;
}

#container p.skin img{
    text-align:center;
    width:100%;
    margin-bottom: 5px;
}

/* リンク指定
----------------------------------------------- */
a { text-decoration: underline; }
a:link { color: #81A7D4; }
a:visited { color: #81A7D4; }
a:hover { color: #81A7D4; }


/* フォント
----------------------------------------------- */
h1,h2,h3,h4,h5 {
    font-size: 100%;
    line-height: 150%;
}
.price { color: #ff0000; font-weight: bold; }
.attention { color: #ff0000; }
.attention2 { color: #ff0000;font-weight:bold; }

.font_style_01{
  color:#000000;
  text-align:left;
  font-size:24px;
  line-height:30px;
}

.font_style_02{
  color:#000000;
  text-align:left;
  font-size:20px;
  line-height:24px;
}

.font_style_03{
  color:#999999;
  font-size:20px;
  line-height:24px;
}

.font_style_04{
  color:#000000;
  text-align:left;
}

.font_style_05{
  color:#000000;
  font-size:20px;
  line-height:24px;
}

.font_style_06{
  font-size:20px;
  line-height:24px;
}

/* スタイル共通指定
----------------------------------------------- */

.line_height_1{
}

.padding_01{
  padding:0px 3% 20px 3%;
}


/* テーブル共通指定
----------------------------------------------- */
.price_table h2{
    font-size:20px;
}

table  {
    margin:0px auto;
}

table td{
    text-align:center;
}



.sec table  {
    margin: 15px auto 0 auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-collapse: collapse;
    text-align: left;
}
.sec table th {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
    font-weight: normal;
}
.sec table td {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
div.tblareabtn {
    clear: both;
    margin-top: 15px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

table.form_table{
    border-collapse: collapse;
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 15px auto 0 auto;
    text-align: left; 
    width:97%;
}

table.form_table th {
    background-color: #F0F0F0;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    font-weight: normal;
    padding: 10px 2px;
}

table.form_table td {
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding: 10px 2px;
}

/* Header
----------------------------------------------- */
#head{
    background:url('../../img/fraijeu/smartphone/header_bg.jpg') repeat;
    width:100%;
    margin:0px 0px 7px 0px;
}

#head table  {
    margin: 0px auto;
    border: 0px solid #ccc;
    text-align: left;
    padding:0px;
    width:100%;
}

#head table td {
    padding:0px;
    margin:0px;
    border:0px solid #ffffff;
}

table.news ,
table.voice {
    width:99%;
}


table.news td ,
table.voice td {
    text-align:left;
}



/* Container when content is shown in slider */
.showcase
{
  position: relative;
  margin: auto;
}

  .showcase-content-container
  {
    background-color: #000;
  }
  
  /* Navigation arrows */
  .showcase-arrow-previous, .showcase-arrow-next
  {
    position: absolute;
    background: url('../../img/fraijeu/smartphone/btn/arrows.png');
    width: 33px;
    height: 33px;
    top: 255px;
    cursor: pointer;
  }
  
  .showcase-arrow-previous
  {
    left: 150px;
  }
  
  .showcase-arrow-previous:hover
  {
    background-position: 0px -34px;
  }
  
  .showcase-arrow-next
  {
    right: 150px;
    background-position: -34px 0;
  }
  
  .showcase-arrow-next:hover
  {
    background-position: -34px -34px;
  }
  
  /* Content */
  /*.showcase-content
  {
    background-color: #000;
    text-align: center;
  }
    
    .showcase-content-wrapper
    {
      text-align: center;
      height: 248px;
      width: 618px;
      display: table-cell;
      vertical-align: middle;
    }
  */  
    
    
  /* Button Wrapper */
  .showcase-button-wrapper
  {
    clear: both;
    margin-top: 10px;
    text-align: center;
  }
  
    .showcase-button-wrapper span
    {
      margin-right: 3px;
      padding: 2px 5px 0px 5px;
      cursor: pointer;
      font-size: 26px;
      color: #444444;
    }
  
    .showcase-button-wrapper span.active
    {
      font-size: 26px;
      color: #999999;
    }

/* fureai
-------------------------------------------*/

#fureai_table td{
  text-align:left;
}

#fureai_table td h3{
  font-size:20px;
}

/* guide
-------------------------------------------*/
#guide_table{
  width:98%;
  margin:10px auto;
}

#guide_table td{
  text-align:left;
  padding:3px 0px 3px 1%;
}

#guide_table h3{
  font-weight:normal;
}

/* Cart
-------------------------------------------*/
.total{
  border-top:1px solid #999999;
  border-bottom:1px solid #999999;
  margin:10px 0px;
}

.products_area {
    border-bottom: 1px solid #CCCCCC;
    margin: 5px 0 0;
    padding: 5px 0 10px;
}

.products_photo {
    float: left;
    width: 70px;
}

.products_name_area {
    display: block;
    float: left;
    width: 77%;
    font-size:24px;
    line-height:32px;
}

ul.products_status {
    text-align: right;
}

ul.products_status li {
    line-height:32px;
    font-size:24px;
    display: inline;
}

.total_area {
    background: none repeat scroll 0 0 #F7F5F0;
    border-bottom: 1px solid #A9ABAD;
    border-top: 1px solid white;
    margin-bottom: 8px;
    padding: 10px;
    text-align: right;
}

.total_area div.area2 {
    border-bottom: medium none;
    border-radius: 0 0 7px 7px;
    padding: 3px;
}

.total_price {
    color: #ff0000;
    font-size: 34px;
    font-weight: bold;
}

.agree{
    text-align:center;
    paddin:10px 0px;
    margin:10px 0px;
}


/* 商品詳細
-------------------------------------------*/

#detailarea,
#detailarea p{
    font-size:22px;
}


/* Mypage deliv
-------------------------------------------*/
.deliv_change {
    float: right;
    text-align: right;
    width: 55%;
}

.deliv_subtitle {
    float: left;
    text-align: left;
    width: 45%;
}


/* フォーム共通設定
-------------------------------------------*/
input.inputTxt {
font-size:24px;
display: block;
width: 97%;
padding: 5px 5px;
margin-top: 5px;
height: 34px;
}
input.inputZip {
font-size:24px;
width: 42%;
padding: 5px 5px;
margin-top: 5px;
height: 34px;
}

input.inputTel {
font-size:24px;
width: 23%;
padding: 5px 5px;
margin-top: 5px;
height: 34px;
}

textarea {
-webkit-appearance: textarea;
background-color: white;
border: 1px solid #999999;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
-webkit-box-orient: vertical;
resize: auto;
cursor: auto;
padding: 2px;
white-space: pre-wrap;
word-wrap: break-word;
}

input, textarea, keygen, select, button, isindex {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
line-height: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: -webkit-auto;
}
input::-webkit-input-placeholder, isindex::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: darkGray;
}

.txtArea {
font-size:24px;
width:97%;
height: 200px;
}

select.province {
font-size:24px;
display: block;
width: 97%;
padding: 5px 5px;
margin-top: 5px;
height: 46px;
}

.inputDate {
font-size:24px;
width: 25%;
padding: 5px 5px;
margin-top: 5px;
height: 40px;
}

div#detailarea p.title {
    color: #FF7E00;
    font-size: 22px;
    font-weight:bold;
}




/* トライアル商品対応
---------------------------------------*/
.trial_product{
	padding:10px 0px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.trial_product .float_left {
	float:left;
	width:25%;
	margin-bottom:15px;
	vertical-align:middle;
}

.trial_product .float_right {
	float:right;
	width:73%;
	text-align:left;
	margin-bottom:15px;
}

.trial_product .float_right th {
	text-align:left;
	color:#90c302;
	font-weight:bold;
	border:0px solid #ffffff;
	padding:0px 0px 7px 0px;
	background-color:#ffffff;
	vertical-align:top;
}

.trial_product .float_right table {
	padding-top:20px;
	border:0px solid #ffffff;
}

.trial_product .float_right td {
	vertical-align:top;
	text-align:left;
	border:0px solid #ffffff;
	padding:0px 0px 7px 0px;
}






/* モニターコース
---------------------------------------*/
.teiki-1st {
	line-height: 0;
	margin-bottom: 20px;
}
.bonus#bonus-2 {
	margin-top: 20px;
}
.bonus#bonus-3 {
	margin-top: 15px;
}
#kaiin.bonus-cv .btn1,
#kaiin.bonus-cv .btn2 {
	bottom: 31%;
}

#kaiin.bonus-cv .btn3 {
	bottom: 4%;
	right: 32%;
	width: 36%;
}

#monitor-fv {
	position: relative;
}
#monitor-fv #kizon-btn {
	position: absolute;
	right: 2%;
	bottom: 1%;
	width: 21%;
}



/* 定期期間限定キャンペーン
---------------------------------------*/
.bonus-cv {
	position: relative;
}
.bonus-cv .btn1,
.bonus-cv .btn2,
.bonus-cv .btn3 {
	position: absolute;
}
.bonus-cv .btn1,
.bonus-cv .btn2 {
	bottom: 28.8%;
	width: 45.5%;
}
.bonus-cv .btn1 {
	left: 4%;
}
.bonus-cv .btn2 {
	right: 4%;
}
.bonus-cv .btn3 {
	bottom: 2.7%;
	right: 4%;
	width: 25%;
}

#bonus-cv2 {
	margin-top: 20px;
}


