#container {
    padding: 0 !important;
    text-align: left !important;
    width: 100% !important;
}
#container p.long, #container p.short {
    font-size:8px;
}
#lp_form_area {
    background-image: none !important;
    background-color: #feffc3 !important;
}
.box {
	/* float: left; */
    width: 100%;
}
.cv {
	float: left;
    position: relative;
    width: 100%;
}
.btn {
	margin: -47% 0 0;
	padding: 0 1%;
	/*
    padding: 0 18px;
	*/
}
.btn img{
	width: 30%;
	margin: 0 1%;
}
.btn2 {
	margin: -27% 0 0;
}
.clear {
	clear: both;
}
#real_entry_flg_box {
	background-color: #ffee8d !important;
    padding: 10px;
}
.tel img {
	width: 100% !important;
}
.select_box_w_97 {
	width: 97% !important;
}
.add_comment,
.add2_comment {
 	font-size: 100% !important;
    margin-top: -7px;
}
.footer {
    margin: 20px auto 0;
    text-align: center;
    width: 100%;
}
.list2 ul {
    margin: 0 auto;
    text-align: center;
    width: 95%;
	font-size: 20px;
}
.list2 ul li:first-child {
    border-radius: 8px 8px 0 0;
}
.list2 ul li:last-child {
    border-radius: 0 0 8px 8px;
	border-bottom: 1px solid #ccc;
}
.list2 ul li a:after {
    float: right;
}
.list2 ul li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(#fff, #f0f0f0) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #ccc;
    border-image: none;
    border-style: solid solid solid;
    border-width: 1px 1px 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 100%;
	
	}
.list2 ul li a {
    color: #333;
    display: block;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 10px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.footer_copy{ 
	font-size: 12px;  
	letter-spacing: 0px; 
} 