@charset "utf-8";
/* CSS Document */

body{
	background: #fff;
	color: #000;
}
#one_maincolumn{
	margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
#wrapper {
	width: 100%;
}
#maincontent {
	width: 1050px;
	background: #fff;
	padding: 0 10px;
	margin: 0 auto;
	text-align: center;
} 

.mainW {
	width: 1050px;
	text-align: center;
	/*background:url(../img/main_bg.gif) center top repeat-y;*/
}

.w990 {
	width: 990px;
	margin: 0 auto;
}

/*.float-L {float:left;}*/
.float-R {float:right;}

input[type="text"],input[type="password"] {
    border: 1px solid #ccc;
}
/* 
------------------------------------------------------------ */


.cvr1 {
	position: relative;
}
.cvr1.teiki {
	padding-bottom: 20px;
}
.cvr1.monitor {
	padding-bottom: 40px;
}

.cvr1 .btn1 {
	position: absolute;
	top: 222px;
	left: 328px;
}
.cvr1 .btn2 {
	position: absolute;
	top: 222px;
	left: 559px;
}
.cvr1 .btn3 {
	position: absolute;
	top: 252px;
	left: 790px;
}
.cvr1 .btn4 {
	position: absolute;
	top: 350px;
	left: 805px;
}
.cvr1 .btn-trial {
	position: absolute;
	top: 219px;
	left: 321px;
}


.cvr1.teiki .btn1,
.cvr1.teiki .btn2 {
	top: 343px;
}
.cvr1.teiki .btn1 {
	left: 382px;
}
.cvr1.teiki .btn2 {
	left: 694px;
}
.cvr1.teiki .btn3 {
	top: 583px;
	left: 814px;
}
.teiki .btn1 a,
.teiki .btn2 a,
.monitor .btn3 a,
.monitor .btn4 a {
	width: 298px;
	height: 0;
	padding-top: 78px;
	overflow: hidden;
	display: block;
}
.teiki .btn1 a,
.monitor .btn3 a {
	background: url(../../adp/btn-bonus-1m.png) no-repeat 0 0;
}
.teiki .btn1 a:hover,
.monitor .btn3 a:hover {
	background: url(../../adp/btn-bonus-1m-hvr.png) no-repeat 0 0;
}
.teiki .btn2 a,
.monitor .btn4 a {
	background: url(../../adp/btn-bonus-2m.png) no-repeat 0 0;
}
.teiki .btn2 a:hover,
.monitor .btn4 a:hover {
	background: url(../../adp/btn-bonus-2m-hvr.png) no-repeat 0 0;
}

.cvr1.monitor .btn1,
.cvr1.monitor .btn2 {
	left: 323px;
}
.cvr1.monitor .btn1 {
	top: 303px;
}
.cvr1.monitor .btn2 {
	top: 860px;
}
.cvr1.monitor .btn2-1 {
	position: absolute;
	top: 395px;
	left: 320px;
}

.monitor .btn1 a,
.monitor .btn2 a {
	width: 658px;
	height: 0;
	padding-top: 80px;
	overflow: hidden;
	display: block;
}
.monitor .btn1 a {
	background: url(../../adp/btn-otameshi.png) no-repeat 0 0;
}
.monitor .btn1 a:hover {
	background: url(../../adp/btn-otameshi-hvr.png) no-repeat 0 0;
}
.monitor .btn2 a {
	background: url(../../adp/btn-buy.png) no-repeat 0 0;
}
.monitor .btn2 a:hover {
	background: url(../../adp/btn-buy-hvr.png) no-repeat 0 0;
}

.cvr2 {
	position: relative;
}
.cvr2.teiki {
	padding-bottom: 50px;
}
.cvr2.monitor {
	padding-bottom: 50px;
}

.cvr2 .btn1 {
	position: absolute;
	top: 258px;
	left: 328px;
}
.cvr2 .btn2 {
	position: absolute;
	top: 258px;
	left: 559px;
}
.cvr2.monitor .btn2-1 {
	position: absolute;
	top: 395px;
	left: 320px;
}

.cvr2 .btn3 {
	position: absolute;
	top: 288px;
	left: 790px;
}

.cvr2 .btn4 {
	position: absolute;
	top: 396px;
	left: 328px;
}

.cvr2 .btn5 {
	position: absolute;
	top: 396px;
	left: 555px;
}
.cvr2 .btn6 {
	position: absolute;
	top: 398px;
	left: 790px;
}
.cvr2 .btn-trial {
	position: absolute;
	top: 229px;
	left: 321px;
}



.cvr2.teiki .btn1,
.cvr2.teiki .btn2 {
	top: 343px;
}
.cvr2.teiki .btn1 {
	left: 382px;
}
.cvr2.teiki .btn2 {
	left: 694px;
}
.cvr2.teiki .btn3 {
	top: 583px;
	left: 814px;
}


.cvr2.monitor .btn1,
.cvr2.monitor .btn2 {
	left: 323px;
}
.cvr2.monitor .btn1 {
	top: 335px;
}
.cvr2.monitor .btn2 {
	top: 890px;
}






.cvr3 {
	position: relative;
	height: 430px;
}
.cvr3.trial {
	height: 566px;
}
.cvr3.teiki{
	height: 675px;
	background: url(../../011/img/main_bg.gif) center top repeat-y;
}

.cvr3 .btn1 {
	position: absolute;
	top: 228px;
	left: 308px;
}
.cvr3 .btn2 {
	position: absolute;
	top: 228px;
	left: 539px;
}
.cvr3.monitor .btn2-1 {
	position: absolute;
	top: 400px;
	left: 320px;
}
.cvr3 .btn3 {
	position: absolute;
	top: 260px;
	left: 770px;
}

.cvr3 .btn4 {
	position: absolute;
	top: 380px;
	left: 308px;
}

.cvr3 .btn5 {
	position: absolute;
	top: 380px;
	left: 535px;
}
.cvr3 .btn6 {
	position: absolute;
	top: 380px;
	left: 770px;
}
.cvr3 .img_cvr3{
	position:absolute; 
	left: 9px; 
	top: -11px;
}
.cvr3 .img_cvr3.trial{
	left: 1px; 
	top: -40px;
}
.cvr3 .img_cvr3.teiki {
	position:absolute; 
	left: 0; 
	top: -34px;
}
	
	
.cvr3 .text_note{
	font-size: 13px;
    left: 569px;
    position: absolute;
    text-align: left;
    top: 95px;
    width: 358px;
}




.cvr3.teiki .btn1,
.cvr3.teiki .btn2 {
	top: 310px;
}
.cvr3.teiki .btn1 {
	left: 382px;
}
.cvr3.teiki .btn2 {
	left: 694px;
}
.cvr3.teiki .btn3 {
	top: 550px;
	left: 814px;
}


.cvr3.monitor {
	height: auto;
}
.cvr3.monitor .btn1,
.cvr3.monitor .btn2 {
	left: 323px;
}
.cvr3.monitor .btn1 {
	top: 350px;
}
.cvr3.monitor .btn2 {
	top: 903px;
}


.cvr3.monitor .btn3,
.cvr3.monitor .btn4 {
	top: 1372px;
}
.cvr3.monitor .btn3-1,
.cvr3.monitor .btn4-1 {
	top: 864px;
}
.cvr3.monitor .btn3 {
	position: absolute;
	left: 325px;
}
.cvr3.monitor .btn4 {
	position: absolute;
	left: 655px;
}
.cvr3.monitor .btn5 {
	position: absolute;
	top: 1492px;
	left: 838px;
	width: 115px;
}
.cvr3.monitor .btn5 img {
	width: 100%;
	height: auto;
}
.cvr3.monitor .btn3-1 {
	position: absolute;
	left: 325px;
}
.cvr3.monitor .btn4-1 {
	position: absolute;
	left: 655px;
}
.cvr3.monitor .btn5-1 {
	position: absolute;
	top: 984px;
	left: 838px;
	width: 115px;
}
.cvr3.monitor .btn5-1 img {
	width: 100%;
	height: auto;
}



.cvr4 {
	position: relative;
}
.cvr4 .btn-trial {
	position: absolute;
	top: 315px;
	left: 321px;
}


#s9_2 {
	position: relative;
}
#s9_2 .text{
	position: absolute;
	top: 235px;
	left: 673px;
	font-size: 13px;
}

#s11 {
	background: #feffc3;
	padding-bottom: 50px;
}

/*-------------------------------------
bisoukoucha_monitor_li2.html用-------------------------------------*/


/*グレーのやつcar01黄色のやつcar02緑色のやつcar03*/
.carttop001{margin-top:0px; }

.car01{position:relative; margin:0px; padding:0px; padding-right:6px; overflow:visible;}

.carttop001 .car02{ margin-top:-40px; padding-right:2px;}

.car01 .btn001 {
	position:absolute;
	left:600px; margin-top:200px;}

.car01 .btn001a {
	position: absolute;
	left:600px; margin-top:165px;}
	
.car01-a .btn001a {
	position: absolute;
	left:600px; margin-top:195px;}

.car02{position:relative; margin:0px;  margin-bottom:150px; padding:0px; padding-right:24px; height:307px; overflow:visible;}


.car02 .car002{
position:relative; margin:0px; padding:0px; height:423px;}

 
.car02 .btn002 {
	position:absolute;
	left:350px; margin-top:300px;}

/*TOP以外のカート*/
.car02a{position:relative; margin:0px; margin-left:3px; margin-bottom:0px; padding:0px; padding-right:6px; height:307px; overflow:visible;}


.car02a .car002{
position:relative; margin:0px; padding:0px; padding-right:20px;}


.car02a .btn002 {
	position:absolute;
	left:350px; margin-top:300px;}


/*カート3*/

.car02a2{position:relative; margin:0px; margin-left:3px; padding:0px; padding-right:6px; overflow:visible;}


.car02a2 .car002{
position:relative; margin:0px; padding:0px; padding-right:20px;}


.car02a2 .btn002 {
	position:absolute;
	left:350px; margin-top:300px;}


/*カート一番下*/

.car03{position:relative; margin:0px; padding:0px; padding-top:95px; overflow:visible;}


.car03.car003{position:relative; margin:0px; padding:0px; margin-top:40px; padding-right:20px; height:560px;}

.car03 .btn003a {
	position: absolute;
 	top:430px;
	left: 325px;
}


.car03 .btn003a  a:hover {
	background: url(../adp/btn-bonus-1m-hvr.png) no-repeat 0 0;
}

.car03 .btn003b {
 	top:430px;
	position:absolute;
	left: 655px;
}
.car03 .btn003c {
	position:absolute;
 	top:550px;
	left: 838px;
	width: 115px;
}




#foot {
	background: url(../../011/img/bg_foot.gif) top no-repeat;
	padding: 150px 0 100px 0;
	margin: 0 auto;
	width: 1050px;
	text-align: center;
}





/* 
------------------------------------------------------------ */

/* フォント
----------------------------------------------- */
h1,h2,h3,h4,h5 {
    font-size: 12px;
    line-height: 1.5;
}
.price { color: #ff0000; font-weight: bold; }
.attention { color: #ff0000; }
.mini { font-size: 12px; }
em {
    font-style: normal;
    color: #ff0000;
}


/* CSS Document */

body{
    font:14px/1.231 Verdana,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',osaka,'メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
    *font-size:small;
    *font:x-small;
	line-height: 20px;
}
 
select,input,button,textarea,button{
    font:99% arial,helvetica,clean,sans-serif;
}
 
table{
    font-size:inherit;
    font:100%;
}
 
pre,code,kbd,samp,tt{
    font-family:monospace;
    *font-size:108%;
    line-height:99%;
}
 
/* IE6 and IE7 Hack */
* html body {font-family: 'ＭＳ Ｐゴシック',sans-serif;}
*:first-child+html body {font-family: 'メイリオ','ＭＳ Ｐゴシック',sans-serif;}
 
/* 日本語が読みやすいline-height例 */
body * {
    line-height:1.5;
}


#lp_form a:link,#lp_form a:visited {
        color:#599100;
        text-decoration:none;
}

#lp_form a:hover,#lp_form a:active {
        color:#599100;
        text-decoration:underline;
}

/* テーブル共通指定
----------------------------------------------- */
table  {
    margin: 15px auto 0 auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-collapse: collapse;
    text-align: left;
}
table th {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
    font-weight: normal;
}
table td {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


.box60{
    width:60px;
    padding:2px;
    margin:3px 0px;
}

.box120{
    width:120px;
    padding:2px;
    margin:3px 0px;
}

.box300{
    width:300px;
    padding:2px;
    margin:3px 0px;
}

.area600{
    width:100%;
    height:100px;
    border:1px solid #CFC3B7;
    background-color:#ffffff;
}

input[type="select"],select{
    padding:2px;
    margin:3px 0px;

}

.text-left{
    text-align:left;
    width:855px !important;
    margin:0px auto !important;
}

.red{
    color: #FF0000;
}


#imgs2_2{
	background:url(../img/s2_2.jpg) no-repeat;
	width:1032px;
	height:178px;
	margin: 0 auto;
}

#imgs2_2 p{
    font-size: 18px;
    padding: 30px 50px;
    text-align: left;
	color:#331308;
}
#imgs2_3{
	background:url(../img/s2_3.jpg) no-repeat;
	width:1032px;
	height:245px;
	margin: 0 auto;
}

#imgs2_3 p{
    color: #756322;
    font-size: 15px;
    padding: 80px 540px 0 80px;
    text-align: left;
}

#imgs2_5{
	background:url(../img/s2_5.jpg) no-repeat;
	width:1032px;
	height:171px;
	margin: 0 auto;
}

#imgs2_5 p{
    color: #756322;
    font-size: 15px;
    padding: 60px 50px 0 420px;
    text-align: left;
}

#imgs3_3{
	background:url(../img/s3_3.jpg) no-repeat;
	width:1032px;
	height:511px;
	margin: 0 auto;
}

#imgs3_3 p{
    color: #331308;
    font-size: 16px;
    padding: 130px 50px 0 320px;
    text-align: left;
}

#imgs4_2{
	background:url(../img/s4_2.jpg) no-repeat;
	width:990px;
	height:360px;
	margin: 0 auto;
}
#bisoukoucha_af_tri_p_imgs4_2 {
	background:url(../../012/img/bisoukoucha_af_tri_p/bisoukoucha_af_tri_p_s4_2.jpg) no-repeat;
	width:990px;
	height:360px;
	margin: 0 auto;
}
#imgs4_3{
	background:url(../img/s4_3.jpg) no-repeat;
	width:990px;
	height:332px;
	margin: 0 auto;
}
#imgs4_4{
	background:url(../img/img_06.jpg) no-repeat;
	width:990px;
	height:376px;
	margin: 0 auto;
}


.imgs4_4_1{
	background:url(../../011/img/s4_4_1.jpg) no-repeat !important;
	height:356px !important;
}

#imgs4_5{
	background:url(../../011/img/s4_5.jpg) no-repeat;
	width:990px;
	height:287px;
	margin: 0 auto;
}

#imgs4_2 p, #imgs4_3 p, #imgs4_4 p, #imgs4_5 p,
#bisoukoucha_af_tri_p_imgs4_2 p{
    color: #000;
    font-size: 18px;
    padding: 170px 280px 0 210px;
    text-align: left;
}

#imgs5_2{
	background:url(../../011/img/s5_2.jpg) no-repeat;
	width:990px;
	height:226px;
	margin: 0 auto;
}
#imgs5_2 p{
    font-size: 18px;
    padding: 20px 350px 25px 25px;
    text-align: left;
}

#imgs6_2{
	background:url(../../011/img/img_11.jpg) no-repeat;
	width:990px;
	height:198px;
	margin: 0 auto;
}
#imgs6_2 p{
    font-size: 18px;
    padding: 20px 25px;
    text-align: left;
}

#imgs6_3{
	background:url(../../011/img/img_12.jpg) no-repeat;
	width:990px;
	height:123px;
	margin: 0 auto;
}

#imgs6_3 p{
    color: #296D00;
    padding: 40px 300px 0 25px;
    text-align: left;
}

#imgs6_6{
	background:url(../../011/img/img_14.jpg) no-repeat;
	width:503px;
	height:446px;
	margin: 0 auto;
	float:left;
	color: #331308;
    text-align: left;
    font-size: 15px;
}
#imgs6_6 .t1{
    padding: 120px 215px 0 25px;
}
#imgs6_6 .t2{
	padding: 10px 40px 0 25px;
}

#imgs6_7{
	background:url(../../011/img/img_15.jpg) no-repeat;
	width:487px;
	height:446px;
	margin: 0 auto;
	float:left;
	color: #331308;
    text-align: left;
    font-size: 15px;
}
#imgs6_7 .t1{
   padding: 60px 20px 0 45px;
}
#imgs6_7 .t2{
	padding: 10px 280px 0 40px;
}

#imgs6_8{
	background:url(../../011/img/img_16.jpg) no-repeat;
	width:990px;
	height:528px;
	margin: 0 auto;
	color: #331308;
    text-align: left;
	clear:both;
    font-size: 15px;
}

#bisoukoucha_af_tri_p_imgs6_8{
	background:url(../../012/img/bisoukoucha_af_tri_p/bisoukoucha_af_tri_p_img_16.jpg) no-repeat;
	width:990px;
	height:528px;
	margin: 0 auto;
	color: #331308;
    text-align: left;
	clear:both;
    font-size: 15px;
}


.imgs6_8_1{
	background:url(../../011/img/s6_8_1.jpg) no-repeat !important;
	height: 528px !important;
}

#imgs6_8 p,
#bisoukoucha_af_tri_p_imgs6_8 p{
	font-size: 14px;
    padding: 200px 270px;
}

#imgs8_2{
	background:url(../../011/img/s8_2.gif) no-repeat;
	width:990px;
	height:302px;
	margin: 0 auto;
}
#imgs8_3{
	background:url(../../011/img/s8_3.gif) no-repeat;
	width:990px;
	height:297px;
	margin: 0 auto;
}
#imgs8_4{
	background:url(../../011/img/s8_4.gif) no-repeat;
	width:990px;
	height:264px;
	margin: 0 auto;
}
#imgs8_5{
	background:url(../../011/img/s8_5.gif) no-repeat;
	width:990px;
	height:280px;
	margin: 0 auto;
}
#imgs8_6{
	background:url(../../011/img/s8_6.gif) no-repeat;
	width:990px;
	height:332px;
	margin: 0 auto;
}
#imgs8_7{
	background:url(../../011/img/s8_7.gif) no-repeat;
	width:990px;
	height:332px;
	margin: 0 auto;
}
#imgs8_8{
	background:url(../../011/img/s8_8.gif) no-repeat;
	width:990px;
	height:304px;
	margin: 0 auto;
}

#imgs8_2 p, #imgs8_3 p, #imgs8_4 p, #imgs8_5 p, #imgs8_6 p, #imgs8_7 p, #imgs8_8 p{
    color: #296D00;
    font-size: 16px;
    padding: 120px 70px 0 140px;
    text-align: left;
}

#imgs9_3{
	background:url(../../011/img/s9_3.jpg) no-repeat;
	width:990px;
	height:313px;
	margin: 0 auto;
	color:#4b2f25;
	text-align:left;
}

#imgs9_3 p{
    font-size: 15px;
    padding: 90px 350px 205px 50px;
}


#imgs5_4{
	background:url(../../011/img/s5_4.jpg) no-repeat;
	width:337px;
	height:509px;
	color:#766223;
	text-align:left;
	float:left;
}


#imgs5_5{
	background:url(../../011/img/s5_5.jpg) no-repeat;
	width:317px;
	height:509px;
	color:#766223;
	text-align:left;
	float:left;
}


#imgs5_6{
	background:url(../../011/img/s5_6.jpg) no-repeat;
	width:336px;
	height:509px;
	color:#766223;
	text-align:left;
	float:left;
	position:relative;
}

#imgs5_4 p, #imgs5_5 p{
   padding: 360px 28px 0 30px;
}

#imgs5_6 .t1{
    padding: 5px 38px 0 30px;
}
#imgs5_6 .t2{
    bottom: 20px;
    padding: 5px 38px 0 30px;
    position: absolute;
}

#imgs5_6 .t0{
	color: #2e160a;
    font-size: 15px;
    font-weight: bold;
    padding: 90px 38px 0 45px;
}


#undercolumn_entry .area470{
	height: 160px !important;
	width: 95% !important;
	font-size: 12px;
	width: 855px !important;
}