@charset "utf-8";


/*#owl-demo .item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}*/


.customNavigation{
	position:relative;
}
#top_line .customNavigation #prev {
	position:absolute;
	top:140px;
	left:6px;
}
#top_line .customNavigation #next {
	position:absolute;
	top:140px;
	left:1030px;
}


//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



#top_line #owl-demo p {
	margin-top:70px;
	margin-left:10px
}


