@charset "utf-8";
.offer {
    position: relative;
}

p#btn1 {
    position: absolute;
    bottom: 4.4%;
    left: 51.5%;
}

p#btn2,
p#btn3,
p#btn4,
p#btn5,
p#btn6,
p#btn7,
p#btn8,
p#btn9,
p#btn10,
p#btn11,
p#btn12{
    position: absolute;
}
p#btn2,
p#btn3{
    bottom: 39.8%;
    height: 105px;
}

p#btn2 {
    left: 69.3%;
}
p#btn3 {
    left:83.3%;
}

p#btn4 {
    bottom: 29%;
    left: 58.7%;
}
p#btn5 {
    bottom: 4.9%;
    left: 51.7%;
}

p#btn6,
p#btn7 {
   bottom:29.6%;
   height: 105px;
}

p#btn6 {
    left:68.8%;
}

p#btn7 {
    left:82.9%;
}

p#btn8 {
    bottom: 17.9%;
    left: 58.7%;
}
p#btn9 {
    bottom: 5.4%;
    left: 51.7%;
}

p#btn10,
p#btn11 {
   bottom:31.5%;
   height: 105px;
}
p#btn10 {
    left: 69%;
}
p#btn11 {
    left:83.1%;
}

p#btn12 {
    left: 58.5%;
    bottom: 20.1%;
}