@charset "utf-8";

#juntobox1{
	position:relative;
	width:1061px;
	height:1050px;
    background-size: cover;
	background-image:url(../img/fraijeu/juntobox1bg.jpg);	
	}
#juntobox1 #btn3{
	position:absolute;
	top:542px;
	left:723px;
	}
#juntobox1 #btn4{
	position:absolute;
	top:542px;
	left:874px;
	}
#juntobox1 #btn5{
	position:absolute;
	top:630px;
	left:782px;
	}
#juntobox1 #btn6{
	position:absolute;
	top:688px;
	left:700px;
	}
.bnitem {
	width: 1062px;
	text-align: center;
	background: #ffffff;
	padding-top: 15px;
	padding-bottom: 10px;
}
#juntobox4{
	position:relative;
	width:1061px;
	height:672px;
    background-size: cover;
	background-image:url(../img/fraijeu/juntobox4bg.jpg);	
	}
#juntobox4 #btn4-3{
	position:absolute;
	top:315px;
	left:723px;
	}
#juntobox4 #btn4-4{
	position:absolute;
	top:315px;
	left:875px;
	}
#juntobox4 #btn4-5{
	position:absolute;
	top:400px;
	left:782px;
	}
#juntobox4 #btn4-6{
	position:absolute;
	top:456px;
	left:700px;
	}
#juntobox6{
	position:relative;
	width:1061px;
	height:670px;
    background-size: cover;
	background-image:url(../img/fraijeu/juntobox4bg.jpg);	
	}
#juntobox6 #btn6-3{
	position:absolute;
	top:315px;
	left:728px;
	}
#juntobox6 #btn6-4{
	position:absolute;
	top:315px;
	left:875px;
	}
#juntobox6 #btn6-5{
	position:absolute;
	top:400px;
	left:782px;
	}
#juntobox6 #btn6-6{
	position:absolute;
	top:455px;
	left:700px;
	}
	

