@charset "utf-8";
.offer {
    position: relative;
}

p#btn1 {
    position: absolute;
    bottom: 6.4%;
    left: 61.7%;
}

p#btn2,
p#btn3,
p#btn4,
p#btn5,
p#btn6,
p#btn7,
p#btn8,
p#btn9,
p#btn10,
p#btn11,
p#btn12{
    position: absolute;
}
p#btn2,
p#btn3{
    bottom: 58%;
    height: 105px;
}

p#btn2 {
    left: 69.3%;
}
p#btn3 {
    left:83.3%;
}

p#btn4 {
    bottom: 42.3%;
    left: 58.7%;
}
p#btn5 {
    bottom: 6.6%;
    left: 61.7%;
}

p#btn6,
p#btn7 {
   bottom:50.4%;
   height: 105px;
}

p#btn6 {
    left:68.8%;
}

p#btn7 {
    left:82.9%;
}

p#btn8 {
    bottom: 31.3%;
    left: 58.7%;
}
p#btn9 {
    bottom: 6.4%;
    left: 61.9%;
}

p#btn10,
p#btn11 {
   bottom:49.4%;
   height: 105px;
}
p#btn10 {
    left: 69%;
}
p#btn11 {
    left:83.1%;
}

p#btn12 {
    left: 58.5%;
    bottom: 30.5%;
}