@charset "utf-8";
.text{
	font-size: 0.5em;
	}



div#sukkirira_top {
    position: relative;
	background-image:url(../img/fraijeu/sukkirirabox1bg.png);
	height:1020px;
}
#sukkirira_top #btn1{
	position: absolute;
    top: 395px;
    left: 875px;
	}
#sukkirira_top #btn2{
	position: absolute;
	top: 544px;
	left: 742px;
	}
#sukkirira_top #btn3{
	position: absolute;
	top: 544px;
	left: 881px;
	}
#sukkirira_top #btn4{
	position: absolute;
	top: 678px;
	left: 669px;
	}
#sukkirira_top #text{
	position: absolute;
	top: 732px;
	left: 22px;
	}


div#sukkirira_top div#top_comment {
	color: #1C1C1C;
	left: 22px;
	position: absolute;
	top: 678px;
}
div#sukkirira_top div#top_taxfree {
    left: 22px;
    position: absolute;
    top: 895px;
}

div#sukkirira_top table {
	border: 1px solid #000000;
	color: #4C2311;
	left: 20px;
	line-height: 1.2;
	position: absolute;
	top: 718px;
}
div#sukkirira_top table th {
    background-color: #ECFFFF;
    border: 1px solid #000000;
    font-size: 20px;
    height: 70px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 175px;
}
div#sukkirira_top table td {
  border: 1px solid #000000;
  font-size: 16px;
  height: 70px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 270px;
  background-color:#ffffff;
 
}

div#sukkirira_top table td.wide {
    padding: 0 10px;
    text-align: left;
    vertical-align: middle;
    width: 375px;
}
div#sukkirira_top div.notice {
	font-size: 12px;
	left: 20px;
	position: absolute;
	top: 886px;
}
.bnitem {
	width: 1062px;
	text-align: center;
	background: #ffffff;
	padding-bottom: 40px;
}

#box4{
	position: relative;
	background-image: url(../img/fraijeu/sukkirirabox4_1.jpg);
	height: 730px;
	background-repeat: no-repeat;
	}
#box4_btn1{
	position: absolute;
	top: 230px;
	left: 368px;
}
#box4_btn2{
	position: absolute;
	top: 409px;
	left: 746px;
}
#box4_btn3{
	position: absolute;
	top: 409px;
	left: 888px;
}
#box4_btn4{
	position: absolute;
	top: 540px;
	left: 672px;
	}

#box6{
	position: relative;
	background-image: url(../img/fraijeu/sukkirirabox4_1.jpg);
	height: 725px;
	background-repeat: no-repeat;
	}
#box6_btn1{
	position: absolute;
	top:220px;
	left: 380px;
}
#box6_btn2{
	position: absolute;
	top: 409px;
	left: 746px;
}
#box6_btn3{
	position: absolute;
	top: 409px;
	left: 888px;
}
#box6_btn4{
	position: absolute;
	top: 540px;
	left: 672px;
	}
