@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

table,img,p {
    border: 0;
}

body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #555555;
    background:url("../img/fraijeu/bg.jpg");
    font-size:12px;
    line-height: 1.5;
    letter-spacing:0px;
	text-align:center;
}

li {
    list-style-type: none;
}

select {
    border: solid 1px #ccc;
}

/*PHOTO*/
.picture {
    border: 1px solid #ccc;
}

img{
    border:0px;
}

a img:hover,
input[type="image"]:hover{
  filter: alpha(opacity=70);
  -moz-opacity:0.7;
  opacity:0.7;
}

/* フロート回り込み解除
----------------------------------------------- */
br.clear {
    clear: both;
    display: none;
    font-size: 0px;
    line-height: 0;
    height: 0px;
}
/* リンク指定
----------------------------------------------- */

a:link,a:visited {
        color:#599100;
        text-decoration:none;
}

a:hover,a:active {
        color:#599100;
        text-decoration:underline;
}

/* フォント
----------------------------------------------- */
h1,h2,h3,h4,h5 {
    font-size: 12px;
    line-height: 1.5;
}
.price { color: #ff0000; font-weight: bold; }
.attention { color: #ff0000; }
.mini { font-size: 12px; }
em {
    font-style: normal;
    color: #ff0000;
}
/* テーブル共通指定
----------------------------------------------- */
table  {
    margin: 15px auto 0 auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-collapse: collapse;
    text-align: left;
}
table th {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
    font-weight: normal;
}
table td {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
div.tblareabtn {
    clear: both;
    margin: 15px 0 0 0;
    text-align: center;
}
.phototd {
    width: 75px;
    text-align: center;
}
.centertd {
    text-align: center;
}
.pricetd {
    text-align: right;
}
.pricetd em {
    font-weight: bold;
}
div#completetext {
    width: 470px;
    margin: 30px auto 30px auto;
    padding: 15px;
    border: 5px solid #ccc;
}
div#completetext em {
    font-weight: bold;
}
div#completetext p{
    padding: 20px 0 0 0;
    text-align: left;
}

.pc_only { display: initial; }
.sp_only { display: none; }


/* ヘッダーロゴ
------------------------------------------------ */
div#header {
    width: 1063px;
    margin: 0 auto;
	float:left;
	text-align:left;
}
div#header h1 a {
    float: left;
    display: block;
    margin: 8px 0 0 0;
    width: 540px;
    height: 136px;
    background: url("../img/fraijeu/logo.png");
}
div#header em {
    display: none;
}


/* ヘッダーナビ
----------------------------------------------- */
div#information {
    float: right;
    padding: 0 8px 0 0;
}
div#information ul li {
    display: inline;
    background:url("../img/fraijeu/header_icon.jpg") left center no-repeat;
	padding-left:25px;
}
div#information ul li a {
	color: #4C2311;
    text-decoration: none;
	font-size:14px;
	text-decoration:underline;
}
/* フレーム
----------------------------------------------- */
div#container {
    width: 1063px;
    margin: 0 auto;
    padding: 0 8px;
    text-align: left;
}
#container:after {/* firefox背景色表示用 */
    content: "";
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
}

#header_info{
	display:block;
	float:left;
	margin-top:10px;
	
}

#sub_list{
	float:right;
	margin:62px 0 0 0;
	
}

div#leftcolumn {
    float: left;
    width: 166px;
}

#main_menu{
width:100%;
overflow:hidden;
float:left;
margin-top:10px;
margin-left: 8%;
}

#main_menu li{
	float:left;
	
}

div#leftcolumn h2 {
    padding: 15px 0 0 0;
}

div#rightcolumn {
    float: left;
    width: 166px;
}

div#rightcolumn h2 {
    padding: 15px 0 0 0;
}

/* メインコンテンツ
----------------------------------------------- */
/* 3カラム設定 */
div#three_maincolumn {
    float: left;
    width: 432px;
    padding: 15px 0 0 0;
}

div#three_maincolumn h2 {
    padding: 15px 0 0 0;
}

/* 2カラム設定 */
div#two_maincolumn {
    float: left;
    width: 598px;
    padding: 15px 0 0 0;
}

div#two_maincolumn h2 {
    padding: 15px 0 0 0;
}

/* 1カラム設定 */
div#one_maincolumn {
    padding: 10px 0 0 0;
	width:1063px;
	float:left;
	margin-top:10px;
}

/* カゴの中
----------------------------------------------- */
div#cartarea {
    width: 144px;
    padding: 10px;
    border: solid 1px #ccc;
}

div#cartarea p {
    padding: 5px 0 10px 0;
}

div#cartarea p.item {
    padding: 0 0 10px 0;
    background: url("../img/side/line_146.gif") no-repeat bottom;
}

div#cartarea .btn {
    padding: 0;
    text-align: center;
}

table#cart_table td{
    background-color:#ffffff;
}

/* カテゴリー
----------------------------------------------- */
div#categoryarea {
    width: 144px;
    padding: 10px;
    border: solid 1px #ccc;
    background-color: #fff1e3;
}

div#categoryarea li {
    padding: 0 0 0 20px;
    background: url("../img/common/arrow_blue.gif") 0 3px no-repeat;
}
div#categoryarea li.onmark {
    background: url("../img/common/arrow_red.gif") 0 3px no-repeat;
}
div#categoryarea li.level1 {
    font-weight: bold;
}
div#categoryarea li.level1 li {
    font-weight: normal;
}
div#categoryarea li a {
    display: block;
    padding: 3px 0;
}

a.onlink:link {
    color: #ff0000;
    text-decoration: underline;
}
a.onlink:visited {
    color: #ff0000;
}
a.onlink:hover {
    color: #ff0000;
}
/* ガイドリンク
----------------------------------------------- */
#guidearea {
    padding: 15px 0 0 0;
    line-height: 0;
}

/* ログイン
----------------------------------------------- */
div#loginarea {
}

div#loginarea p {
    padding: 8px 0 0 0;
}

div#login img {
    padding: 0 5px 0 0;
    vertical-align: bottom;
}

div#loginarea .btn {
    text-align: center;
}

#loginarea .box96 {
    width: 136px;
    border: solid 1px #ccc;
    padding:4px;
}

/* 検索
----------------------------------------------- */
div#searcharea {
    width: 144px;
    padding: 0 10px 10px 10px;
    border: solid 1px #ccc;
}

div#searcharea p {
    padding: 8px 0 0 0;
}

div#searcharea .btn {
    text-align: center;
}

#searcharea .box142 {
    width: 142px;
    border: solid 1px #ccc;
}

/* カレンダー
----------------------------------------------- */
#block-calendar {
}

#block-calendar table {
    border-collapse: collapse;
    margin: 0 auto 10px;
    text-align:center;
}

#block-calendar th, #block-calendar td {
    padding: 2px;
    border: 1px solid #CCCCCC;
}

#block-calendar th {
    background: #FF8144;
    color: #FFFFFF;
}

#block-calendar .off {
    background: #FFEECC;
    color: #E04A00;
}

#block-calendar caption {
    color: #DD4400;
}

/* バナー
----------------------------------------------- */
ul#banner {
    padding: 15px 0 0 0;
}

#banner li {
    padding: 0 0 10px 0;
}

/* テキストフィールド
----------------------------------------------- */
input[type='text'] {
    border: solid 1px #ccc;
}

/* ボタン
----------------------------------------------- */
input[type='image'] {
    border: none;
}

input[type='image'].box190 {
    width: 190px;
    height: 30px;
}

input[type='image'].box180 {
    width: 180px;
    height: 30px;
}

input[type='image'].box150 {
    width: 150px;
    height: 30px;
}

input[type='image'].box140 {
    width: 140px;
    height: 30px;
}

input[type='image'].box130 {
    width: 130px;
    height: 30px;
}

input[type='image'].box51 {
    width: 51px;
    height: 22px;
}

#center_c{
		clear:both;
	
}
#up_rights{
	width:230px;
	height:325px;
	float:right;
    background: url("../img/fraijeu/up_rights_bg.jpg") left bottom no-repeat;
	margin-top:10px;
	padding-left:20px;
	margin-right:5px;
}

#up_rights ul{
	display:block;
	float:left;
	margin:20px 0 0 0;

}

#up_right_simple ul#sub_list li{
    background: url("../img/fraijeu/header_icon.jpg") no-repeat scroll left center transparent;
    padding: 5px 0px 5px 25px;
}

#up_right_simple ul#sub_list li a{
    color: #4C2311;
    font-size: 14px;
    text-decoration: underline;
}

#up_rights p{
	clear:both;
	width:211px;
	
}

ul#down_list{
	margin-top:5px;
	color:#4c88eb;
}


ul#down_list li{
    background: url("../img/fraijeu/right_icon.jpg") left center no-repeat;
	padding-left:20px;
	margin-top:0px;

	
	}

ul#down_list li a{
	color:#4c88eb;
	
}

#otoku{
	margin-left:-14px;
	margin-top:10px;	
}

#main_contents{
	text-align:left;
	
}

#down_left{
	float:left;
	width:735px;
	
}
#down_right{
	float:right;
	width:313px;
	
}



#down_right li a{
	float:right;
	height:149px;
	margin-bottom:10px;	
}

#down_right li.skin a{
	float:right;
	height:205px;
	margin-bottom:10px;	
}
/* フッター
----------------------------------------------- */
#pagetop_simple {
    width: 863px;
    margin: 0 auto;
        margin-bottom: 10px;
    padding: 30px 30px 15px 170px;
    background: url("../img/fraijeu/f_bg.jpg") left bottom repeat;
    text-align:left;
        clear:both;
        float:left;
        font-size:14px;

}

#pagetop_simple a{
        color:#ef8f27;
}


#pagetop_simple .f_box,#pagetop_simple .f_boxs, #pagetop_simple .f_box_goriyo{
        float:left;
        margin-left:30px;
}


#pagetop {
    width: 1047px;
    margin: 0 auto;
	margin-bottom: 10px;
    padding: 30px 8px 15px 8px;
    background: url("../img/fraijeu/f_bg.jpg") left bottom repeat;
    text-align:left;
	clear:both;
	float:left;
	font-size:14px;

}


#pagetop a{
	color:#ef8f27;
}


#pagetop .f_box,#pagetop .f_boxs, #pagetop .f_box_goriyo{
	float:left;
	margin-left:30px;
}

.f_box_goriyo{
		width:362px;
	
}

.f_box_goriyo #f_list_right{
	margin-left:30px;
	
}

#pagetop .f_box_goriyo ul,
#pagetop_simple .f_box_goriyo ul{
	float:left;	
}

#pagetop .f_boxs,
#pagetop_simple .f_boxs{
	margin:0 60px;
	
}

.top_btn{
	clear:both;
	text-align:right;
	padding:20px 0 10px 0;
}

#fotter {
    margin: 0 auto;
    padding: 15px 8px;
    border-top: 2px solid #896452;
    font-size: 12px;
    color: #896452;
    text-align:center;
	clear:both;
}
address{
	font-style: normal;
    font-weight: normal;
}


/*TOP商品一覧*/
#top_line{
    background: url("../img/top_line_bg.png") left top no-repeat;
	clear:both;
	width:1063px;
	float:left;
	margin-bottom:51px;
    position: relative;
}
#top_line div#top_taxfree {
    position: absolute;
    left: 132px;
}

#click{
	float:left;
	margin:5px 0 0 300px;
}
.top_all_lineup {
  margin-top: 6%;
}
.top_all_lineup.no {
	margin-top: 4%;
}
#top_line li {
	float:left;
	margin-left:30px;
    width: 22%;
}
#top_line li:nth-child(5) {
    /*margin-left: 14%;*/
}
#newsarea{
	width:735px;
	margin-bottom:10px;
}

/*TOP化粧品*/
#top_cosmetic {
	background: url("../img/top_cosmetic_bg.png") left top repeat-y;
	clear:both;
	width:1063px;
	float:left;
	margin-bottom:20px;
	position: relative;
}
#top_cosmetic div#top_taxfree {
	position: absolute;
	left: 0;
	top: -31px;
}
#top_cosmetic li {
	float:left;
	margin-left:30px;
	width: 22%;
}

.qa{
background:#fff;
width:1061px;
border:solid 1px #a1a09e;
float:left;
padding-bottom:30px;

}

.qa dl{
	display:block;
	margin:0 0 30px 40px;

}


.qa dt{
    background: url("../img/fraijeu/qa_icon_q.jpg") left top no-repeat;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
/*	font-size: 20px;*/
	font-size: 170%;
	font-weight: bold;
	height:36px;
	padding: 5px 40px 8px 40px;
}

.qa dd{
    background: url("../img/fraijeu/qa_icon_a.jpg") left top no-repeat;
/*	font-size: 16px;*/
	font-size: 140%;
	padding:3px 40px 15px 40px;
}

.qa dd span{
}

.bn{
	text-align: center;
	margin-bottom: 25px;
}

/* clearfix
----------------------------------------------- */
.clearfix {
	zoom: 1;
	overflow:hidden;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

/* clearfix
----------------------------------------------- */
.clear {
	clear: both;
}

/* 2カラム
----------------------------------------------- */
div#two_column {
	clear: both;
}

div#two_column div#two_column_right {
	float: right;
	width: 795px;
}

div#two_column div#two_column_left {
	float: left;
	width: 252px;
}

div#two_column_left div#welcome {
	background: url(../img/fraijeu/login/bg_welcome.gif) repeat left top;
	border: 1px solid #cdb88e;
	text-align: center;
	width: 248px;
}

div#two_column_left div#welcome p.name {
	font-weight: bold;
	margin: 15px 0 10px 0;
}

div#two_column_left div#welcome p.teikibin {
	background: url(../img/fraijeu/login/login0802_14.jpg) no-repeat left 5px;
	text-align: left;
	margin: 4px 0 4px 20px;
	padding: 0 0 0 15px;
}

div#two_column_left div#welcome p.teikibin a {
	color: #4f84f4;
}

div#two_column_left ul#lnavi {
	margin: 8px 0 0 0;
}

div#two_column_left ul#lnavi li {
	height: 44px;
}

/* パンくず
----------------------------------------------- */
div#breadcrumb {
	clear: both;
	color: #4c2311;
	font-size: 17px;
	margin: 0 0 7px 0;
	padding: 4px 0 0 0;
}

div#one_maincolumn div#breadcrumb {
	margin: -15px 0 8px 0;
}

div#breadcrumb a {
	color: #4c2311;
	text-decoration: underline;
}

/* ポップアップ
----------------------------------------------- */
div#popup_content {
	margin: 0 auto;
	text-align: left;
	width: 550px;
}

div#popup_content div#top_border {
	margin: 42px 0 0 0;
}

div#popup_content div#bottom_border {
	margin: 0 0 42px 0;
}

/* 明朝フォント
----------------------------------------------- */
.mincho {
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}


/* TOP header slide area
----------------------------------------------- */
/* 
	Resets defualt browser settings
	reset.css
*/
/*
	Page style
*/

#example {
    float: left;
    height: 340px;
    margin-bottom: 15px;
    position: relative;
    top: 10px;
    width: 800px;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	z-index:100;
}

.slides_container .slides_control{
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:798px;
	overflow:hidden;
	position:relative;
	display:none;
}

.pagination li a{
	display:block;
	width:16px;
	height:18px;
	background-position:0 0;
	float:left;
	overflow:hidden;
	text-indent:-9999px;
}

.pagination #lists0 a{

    background: url("../img/fraijeu/icon_01.png");	
}

.pagination #lists0.current a {
	background-position:0 -21px;	
}
.pagination #lists1 a{

    background: url("../img/fraijeu/icon_02.png") ;	
}
.pagination #lists1.current a {
	background-position:0 -21px;	
}
.pagination #lists2 a{

    background: url("../img/fraijeu/icon_03.png");	
}
.pagination #lists2.current a {
	background-position:0 -21px;	
}
.pagination #lists3 a{

    background: url("../img/fraijeu/icon_05.png");	
}
.pagination #lists3.current a {
	background-position:0 -21px;	
}
.pagination #lists4 a{

    background: url("../img/fraijeu/icon_01.png");	
}
.pagination #lists4.current a {
	background-position:0 -21px;	
}
.pagination #lists5 a{

    background: url("../img/fraijeu/icon_06.png");	
}
.pagination #lists5.current a {
	background-position:0 -21px;	
}
.pagination #lists6 a{

    background: url("../img/fraijeu/icon_09.png");	
}
.pagination #lists6.current a {
	background-position:0 -21px;	
}
.pagination #lists7 a{

    background: url("../img/fraijeu/icon_05.png");	
}
.pagination #lists7.current a {
	background-position:0 -21px;	
}
.pagination #lists8 a{

    background: url("../img/fraijeu/icon_07.png");	
}
.pagination #lists8.current a {
	background-position:0 -21px;	
}/**/



/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:802px;
	height:325px;
	display:block;

}

.slides_container a img {
	display:block;
	border:solid 1px #b9aa8d;
	height:325xp;
	width:800px;


}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:140px;
	left:3px;
	display:block;
	z-index:101;
}



#slides .next {
	left:761px;
}

/*
	Pagination
*/

.pagination {
	margin:5px auto 0;
	width:300px;

}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

#click{
	float:left;
	margin:5px 10px 0 300px;
}



/*.pagination li.current a {
	background-position:0 -12px;
}


	Footer
*/

#footer {
	text-align:center;
	width:580px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}

/* TOP吹き出し部分
------------------------------------ */
    .tooltip {  
      position: relative;  
    }  
    .tooltip .tooltipBody {  
      -moz-border-radius: 4px;  
      -webkit-border-radius: 4px;  
      border-radius: 4px;  
      position: absolute;  
      left:-12px;  
      top: -170px;  
      text-decoration: none;  
      visibility: hidden;  
      padding: 3px 5px;    
      zoom: 1;  
    }  
    .tooltip:hover ,  
    .tooltip:hover .tooltipBody {   
      visibility: visible;  
      z-index: 10;  
    }  
	
	
	
	    .tooltip .tooltipBody_01{  
      -moz-border-radius: 4px;  
      -webkit-border-radius: 4px;  
      border-radius: 4px;  
      position: absolute;  
      left:-30px;  
      top: -210px; 
      text-decoration: none;  
      visibility: hidden;  
      padding: 3px 5px;    
      zoom: 1;  
    }  
    .tooltip:hover ,  
    .tooltip:hover .tooltipBody_01 {   
      visibility: visible;  
      z-index: 10;  
    }  
	
	
	
	
	
	    .tooltip .tooltipBody_02 {  
      -moz-border-radius: 4px;  
      -webkit-border-radius: 4px;  
      border-radius: 4px;  
      position: absolute;  
      left:120px;  
      top: -220px;  
      text-decoration: none;  
      visibility: hidden;  
      padding: 3px 5px;    
      zoom: 1;  
    }  
    .tooltip:hover ,  
    .tooltip:hover .tooltipBody_02 {   
      visibility: visible;  
      z-index: 10;  
    }  
	
	
	
	
	    .tooltip .tooltipBody_03 {  
      -moz-border-radius: 4px;  
      -webkit-border-radius: 4px;  
      border-radius: 4px;  
      position: absolute;  
      left:100px;  
      top: -180px;  
      text-decoration: none;  
      visibility: hidden;  
      padding: 3px 5px;    
      zoom: 1;  
    }  
    .tooltip:hover ,  
    .tooltip:hover .tooltipBody_03 {   
      visibility: visible;  
      z-index: 10;  
    }  
	
	
	
	
	
	
	    .tooltip .tooltipBody_04 {  
      -moz-border-radius: 4px;  
      -webkit-border-radius: 4px;  
      border-radius: 4px;  
      position: absolute;  
      left:100px;  
      top: -220px;  
      text-decoration: none;  
      visibility: hidden;  
      padding: 3px 5px;    
      zoom: 1;  
    }  
    .tooltip:hover ,  
    .tooltip:hover .tooltipBody_04 {   
      visibility: visible;  
      z-index: 10;  
    }


/* FLASH
----------------------------------------------- */
div#flasharea {
    width: 400px;
    margin: 0 auto;
}


/* ニュース
----------------------------------------------- */
div#newsarea {
    width: 735px;
    font-size: 12px;
	border:solid 1px #ef8f27;
	clear:both;
	background:#fff;
}

div#newsarea h2 img  {
	vertical-align: top;
}

div#newsarea div#newsarea_inner {
	background: #fcfaf8;
	border-top-style: none;
	border-right: solid 3px #f3f0e9;
	border-bottom: solid 3px #f3f0e9;
	border-left: solid 3px #f3f0e9;
	padding: 15px;
}

div#newsarea div#newsarea_inner div#newsarea_scroll {
	height: 228px;
	overflow-y: scroll;
}

div#newsarea dl {
    background: url("../img/common/line_671.gif") no-repeat bottom;
    padding: 10px 0;
}

div#newsarea dl.last {
    background: url("") no-repeat bottom;
}

div#newsarea dl dt {
	float: left;
    padding: 0 0 0 20px;
	width: 160px;
}

div#newsarea dl dt img {
    padding: 0 0 0 10px;
}

div#newsarea dl dd {
	color: #0a6900;
	float: left;
    padding: 0 0 0 0;
	width: 490px;
}

div#newsarea dl dd a {
	color: #0a6900;
}



/* モニプラ
----------------------------------------------- */
div#moni {
    width: 735px;
    font-size: 12px;
	border:solid 1px #66cc66;
	clear:both;
	background:#fff;
}

div#moni h2 img  {
	vertical-align: top;
}

div#moni div#moni_inner {
	background: #fcfaf8;
	border-top-style: none;
	border-right: solid 3px #f3f0e9;
	border-bottom: solid 3px #f3f0e9;
	border-left: solid 3px #f3f0e9;
	padding: 15px;
}

div#moni div#moni_inner div#moni_scroll {
	height: 228px;
	overflow-y: scroll;
}

div#moni dl {
    background: url("../img/common/line_671.gif") no-repeat bottom;
    padding: 10px 0;
}

div#moni dl.last {
    background: url("") no-repeat bottom;
}

div#moni dl dt {
	float: left;
    padding: 0 0 0 20px;
	width: 160px;
}

div#moni dl dt img {
    padding: 0 0 0 10px;
}

div#moni dl dd {
	color: #0a6900;
	float: left;
    padding: 0 0 0 0;
	width: 490px;
}

div#moni dl dd a {
	color: #0a6900;
}





/* お客様の声
----------------------------------------------- */
/*
div#voice {
    width: 735px;
    font-size: 12px;
	border:solid 1px #71c6bd;
	clear:both;
	background:#fff;
}

div#voice h2 img  {
	vertical-align: top;
}

div#voice div#voice_inner {
	background: #fcfaf8;
	border-top-style: none;
	border-right: 3px solid #f3f0e9;
	border-bottom: 3px solid #f3f0e9;
	border-left: 3px solid #f3f0e9;
	padding: 0 15px 15px 15px;
}

div#voice div#voice_inner div#voice_scroll {
	height: 228px;
	overflow-y: scroll;
}

div#voice dl {
    background: url("../img/common/line_671.gif") no-repeat bottom;
    padding: 10px 0;
}

div#voice dl.end {
    background: url("") no-repeat bottom;
}

div#voice dl dt {
	float: left;
    padding: 0 0 0 20px;
	width: 160px;
}

div#voice dl dt img {
    padding: 0 0 0 10px;
}

div#voice dl dd {
	float: left;
    padding: 0 0 0 0;
	width: 490px;
}

div#voice dl dd a {
	color: #0a6900;
}
*/

/* おすすめ
----------------------------------------------- */
div#recomendarea {
    width: 400px;
    margin: 0 auto;
}

div.recomendblock {
    clear: both;
    width: 400px;
    padding: 10px 0;
    overflow: auto;
    background: url("../img/common/line_402.gif") no-repeat bottom;
}

div.recomendleft {
    float: left;
    width: 190px;
    margin: 0 5px 0 0;
}

div.recomendleft p {
    margin: 0 0 5px 0;
}

div.recomendright {
    float: right;
    width: 190px;
    position: relative;
}

div.recomendleft img, div.recomendright img {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}

div.recomendright p {
    margin: 0 0 5px 0;
}

div.recomendleft h3 {
    font-size: 100%;
}

div.recomendright h3 {
    font-size: 100%;
}

/* エラー画面
----------------------------------------------- */


div#error_display div.orange_box {
	width:700px;
	text-align:center;
        background: #fff;
        border: 3px solid #ffd482;
        margin: 5px auto 20px auto;
        padding: 30px 90px 0 90px;
}

div#error_display div.orange_box div.messagearea{
	padding:30px 0px;
}

div#error_display div.orange_box div.btn_area{
	padding:20px 0px;
}

/* 会社概要
----------------------------------------------- */  


div#about div.orange_box {
	background: #fff;
	border: 3px solid #ffd482;
	margin: 5px 0 20px 0;
	padding: 30px 90px 0 90px;
}

div#about h2 {
	margin: 0;
}

div#about div.orange_box div.board_top {
	background: url(../img/fraijeu/sub_page/bg_board_top.gif) no-repeat left top;
	margin: 40px 0 50px 30px;
	padding: 16px 0 0 0;
	width: 754px;
}

div#about div.orange_box div.board_middle {
	background: url(../img/fraijeu/sub_page/bg_board.gif) repeat-y left top;
	padding: 20px 0 0 0;
}

div#about div.orange_box div.board_bottom {
	background: url(../img/fraijeu/sub_page/about/bg_board_bottom.gif) no-repeat left bottom;
	padding: 0 0 100px 0;
}

div#about div.orange_box table {
	border-style: none;
	color: #3e3a39;
	font-size: 16px;
	margin: 0 0 0 35px;
	width: 675px;
}

div#about div.orange_box table tr {
	background: url(../img/fraijeu/sub_page/bg_border_on_board.gif) repeat-x left bottom;
}

div#about div.orange_box table tr.last {
	background-image: none;
}

div#about div.orange_box table th {
	background: transparent url(../img/fraijeu/sub_page/ico_bean_on_board.gif) no-repeat left 14px;
	border-style: none;
	padding: 10px 0 10px 25px;
	text-align: left;
	width: 250px;
}

div#about div.orange_box table td {
	border-style: none;
}

div#about div.orange_box table td a {
	color: #00b7ee;
}



/* 特定商法
--------------------------------- */
div#tokusho div.orange_box {
	background: #fff;
	border: 3px solid #ffd482;
	margin: 5px 0 20px 0;
	padding: 30px 90px 0 90px;
}

div#tokusho h2 {
	margin: 0;
}

div#tokusho div.orange_box div.board_top {
	background: url(../img/fraijeu/sub_page/bg_board_top.gif) no-repeat left top;
	margin: 40px 0 50px 30px;
	padding: 16px 0 0 0;
	width: 754px;
}

div#tokusho div.orange_box div.board_middle {
	background: url(../img/fraijeu/sub_page/bg_board.gif) repeat-y left top;
	padding: 10px 0 0 0;
}

div#tokusho div.orange_box div.board_bottom {
	background: url(../img/fraijeu/sub_page/tokusho/bg_board_bottom.gif) no-repeat left bottom;
	padding: 0 0 150px 0;
}

div#tokusho div.orange_box table {
	border-style: none;
	color: #3e3a39;
	font-size: 16px;
	margin: 0 0 0 35px;
	width: 675px;
}

div#tokusho div.orange_box table tr {
	background: url(../img/fraijeu/sub_page/bg_border_on_board.gif) repeat-x left bottom;
}

div#tokusho div.orange_box table tr.last {
	background-image: none;
}

div#tokusho div.orange_box table th {
	background: transparent url(../img/fraijeu/sub_page/ico_bean_on_board.gif) no-repeat left 13px;
	border-style: none;
	padding: 8px 0 10px 25px;
	text-align: left;
	vertical-align: top;
	width: 220px;
}

div#tokusho div.orange_box table td {
	border-style: none;
	padding: 8px 10px 10px 8px;
}

div#tokusho div.orange_box table td a {
	color: #00b7ee;
}

div#tokusho div.orange_box table td ul.dot li {
	list-style-position: inside;
	list-style-type: disc;
}

div#tokusho div.orange_box table td span.tel {
	color: #ff0000;
}

div#tokusho div.orange_box table td span.address {
	font-weight: bold;
}


/* 宝探し
------------------------------- */
div#takara div.takara_box {
	margin: 0;
	padding: 0;
	position: relative;
}

div#takara div#present_img {
	position: absolute;
	top: 793px;
	left: 103px;
	width: 600px;
}

div#takara div#howto {
	line-height: 1.8;
	position: absolute;
	top: 805px;
	left: 325px;
	width: 600px;
}

div#takara span.red {
	color: #ff0000;
}

div#takara div#address {
	line-height: 1.8;
	position: absolute;
	top: 965px;
	left: 325px;
}

div#takara div#present {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 1040px;
	left: 125px;
}

div#takara span.small {
	font-size: 11px;
	font-weight: normal;
}

div#takara div.notice_top {
	background: url(../img/fraijeu/takara/bg_notice_top.gif) no-repeat left top;
	margin: 0;
	padding: 8px 0 0 0;
	width: 1064px;
}

div#takara div.notice_middle {
	background: url(../img/fraijeu/takara/bg_notice_middle.gif) repeat-y left top;
	padding: 0 0 0 0;
}

div#takara div.notice_bottom {
	background: url(../img/fraijeu/takara/bg_notice_bottom.gif) no-repeat left bottom;
	color: #000;
	font-size: 11px;
	padding: 5px 70px 13px 55px;
}

div#takara p.title {
	font-size: 18px;
}

/* サイトマップ
------------------------------------- */

div#sitemap div.orange_box {
	background: #fff;
	border: 3px solid #ffd482;
	margin: 5px 0 20px 0;
	padding: 30px 90px 80px 90px;
}

div#sitemap h2 {
	clear: both;
}

div#sitemap div.map_box {
	margin: 40px 0 0 0;
}

div#sitemap div.map_box div.map_area {
	float: left;
	line-height: 2.0;
	width: 435px;
}

div#sitemap div.map_box div.map_area p a {
	color: #000;
	font-size: 16px;
	padding: 0 5px 0 25px;
	text-decoration: underline;
}

div#sitemap div.map_box div.map_area p img {
	margin: 5px;
}

div#sitemap div.map_box div.map_area p .bean {
	background: url(../img/fraijeu/sub_page/sitemap/ico_blue_bean.gif) no-repeat left 1px;
	font-weight: bold;
}

div#sitemap div.map_box div.map_area p.bean {
        background: url(../img/fraijeu/sub_page/sitemap/ico_blue_bean.gif) no-repeat left 1px;
        font-weight: bold;
        color: #000;
        font-size: 16px;
        padding: 0 5px 0 25px;
	display:inline;
}


/* 商品一覧
-------------------------------- */

div#product_index h2 {
	text-align: center;
}
div#product_index h2 .img_ttl__center {
	margin: 0 auto;
	text-align: center;
}

div#product_index p.lead {
	color: #572b20;
	font-size: 19px;
	font-weight: bold;
	line-height: 1.1;
	margin: 10px 0 0 20px;
}

div#product_index div.white_box {
	background: #fff url(../img/fraijeu/product_index/bg_white_box_bottom.gif) no-repeat left bottom;
	margin: 40px 0 0 0;
	padding: 0 0 15px 0;
	width: 1061px;
}

div#product_index div.white_box div.top_box {
	/* margin: 10px 30px; */
	margin: 10px 25px 30px 30px;
	min-height: 272px;
}

div#product_index div.white_box div.top_box div.picture_area {
	float: left;
	/* text-align: center; */
	text-align: left;
	width: 230px;
}
div#product_index div.white_box div.top_box div.picture_area .size {
	color: #555;
	margin-bottom: 5px;
	text-align: left;
}
div#product_index div.white_box div.top_box div.picture_area .btn {
	display: block;
	margin-top: 8px;
}

div#product_index div.white_box div.top_box div.text {
	float: right;
	width: 770px;
}

div#product_index div.white_box div.top_box div.text p.title {
	color: #ff7e00;
	font-size: 24px;
	font-weight: 500;
	padding: 10px 0;
}
div#product_index div.white_box div.top_box div.text p.title.two {
	color: #80c700;
}

div#product_index div.white_box div.top_box div.text p.explain {
	font-size: 18px;
}

div#product_index div.white_box div.top_box div.text p.explain span{
	font-size: 15px;
}

div#product_index div.white_box div.top_box div.text p.explain span.blue {
	color: #0000ff;
	font-size: 19px;
}

div#product_index div.white_box div.top_box div.text p.explain span.blue a {
    color: #0000ff;
}

div#product_index div.white_box div.top_box div.text p.explain sup {
	font-size: 11px;
}

div#product_index div.white_box div.top_box div.text div.textLower {
	background-color: #ffffe4;
	font-size: 16px;
	margin-top: 20px;
	padding: 20px;
}
div#product_index div.white_box div.top_box div.text div.textLower p.padbot {
	padding-bottom: 8px;
}

div#product_index div.white_box div.top_box div.text div.textLower .textLower__list li {
	display: block;
	padding-left: 16px;
	position: relative;
}
div#product_index div.white_box div.top_box div.text div.textLower .textLower__list li:before,
div#product_index div.white_box div.top_box div.text div.textLower span.bull:before {
	background-color: #555;
	border-radius: 50%;
	content: "";
	height: 15px;
	left: 0;
	position: absolute;
	top: 5px;
	width: 15px;
}
div#product_index div.white_box div.top_box div.text div.textLower span.bull {
	padding-left: 16px;
	position: relative;
}
div#product_index div.white_box div.top_box div.text div.textLower span.bull:before {
	top: 2px;
}

div#product_index div.white_box div.bottom_box {
	margin: 17px 30px 10px;
	position: relative;
}

div#product_index div.white_box div.bottom_box.clearfix { overflow: visible; }

div#product_index div.white_box div.bottom_box div.price_area p{
	letter-spacing:-1px;
}

div#product_index div.white_box div.bottom_box div.price_area {
	display: inline-block;
	/* float: left; */
	margin: 17px 0 0 0;
	vertical-align: bottom;
	width: 340px;
}
div#product_index div.white_box div.bottom_box div.detail_area {
	margin: -36px 0 0 0;
}
div#product_index div.white_box div.bottom_box div.detail_area .size {
	color: #555555;
	margin-bottom: 5px;
	/* display: block; */
}

div#product_index div.white_box div.bottom_box div.price_area p.normal_price {
	color: #000;
	font-size: 21px;
}

div#product_index div.white_box div.bottom_box div.price_area p.normal_price span {
	font-size: 16px;
}

div#product_index div.white_box div.bottom_box div.price_area p.bonus_price {
	color: #ff0000;
	font-size: 22px;
	line-height: 1.2;
}

div#product_index div.white_box div.bottom_box div.price_area p.bonus_price__sub {
	padding-top: 10px;
}

div#product_index div.white_box div.bottom_box div.price_area p.bonus_price span.l {
	font-size: 25px;
}

div#product_index div.white_box div.bottom_box div.price_area p.bonus_price span.ll {
	font-size: 31px;
}

div#product_index div.white_box div.bottom_box div.price_area p.bonus_price span.s {
	font-size: 21px;
}
div#product_index div.white_box div.bottom_box div.price_area p.bonus_price span.text-right {
	margin-left: 169px;
}

div#product_index div.white_box div.bottom_box div.btn_area {
	display: inline-block;
	/* float: right; */
	text-align: right;
  margin-top: 23px;
	vertical-align: bottom;
	width: calc(100% - 350px);
}

div#product_index div.white_box div.bottom_box div.btn_area img {
	margin: 0 0 0 10px;
}

/* ご利用ガイド
------------------------------------ */
div#guide div.orange_box {
	background: #fff;
	border: 3px solid #ffd482;
	margin: 5px 0 20px 0;
	padding: 30px 90px 0 90px;
}

div#guide h2 {
	margin: 0;
}

div#guide div.orange_box div.board_top {
	background: url(../img/fraijeu/sub_page/guide/bg_moss_top.gif) no-repeat left top;
	margin: 20px 0 50px 0;
	padding: 16px 0 0 0;
	width: 863px;
}

div#guide div.orange_box div.board_middle {
	background: url(../img/fraijeu/sub_page/guide/bg_moss_middle.gif) repeat-y left top;
	font-size: 16px;
	padding: 20px 0 0 0;
}

div#guide div.orange_box div.board_bottom {
	background: url(../img/fraijeu/sub_page/guide/bg_moss_bottom.gif) no-repeat left bottom;
	padding: 0 25px 50px 40px;
}

div#guide h4 {
	background: url(../img/fraijeu/sub_page/guide/bg_border_on_moss.gif) no-repeat center bottom;
	font-size: 22px;
	margin: 20px 0 10px 0;
	padding: 0 0 5px 5px;
}

div#guide span.red {
	color: #ff0000;
}

div#guide p.order_method {
	margin: 10px 0 0 0;
}

div#guide p.pay_title {
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 0 0;
	text-decoration: underline;
}

div#guide p.pay_title img {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

div#guide dl.pay_method {
	margin: 10px 0 0 10px;
}

div#guide dl.pay_method dt {
	float: left;
	width: 160px;
}

div#guide dl.pay_method dd {
	float: left;
	padding: 2px 0 0 0;
	width: 625px;
}

div#guide p.card_img {
	margin: 10px 0 0 0;
}

div#guide p.notice {
	font-size: 14px;
	margin: 5px 0 0 5px;
}

div#guide p.notice2 {
	font-size: 13px;
}

div#guide table.delivery_time {
	margin: 10px 0 10px 0;
	width: 520px
}

div#guide table.delivery_time th {
	color: #000;
	background: #f0efed;
	padding: 5px 8px;
	text-align: center;
}

div#guide table.delivery_time th.title {
	color: #fff;
	background: #958b82;
}

div#guide table.delivery_time td {
	color: #000;
	background: #fff;
	padding: 5px 8px;
	text-align: center;
}

div#guide p.merit {
	color: #ff7400;
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 0 0;
	text-decoration: underline;
}

div#guide p.merit img {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

div#guide p.merit_sub {
	margin: 0 0 0 50px;
}

div#guide ul.q_and_a_link {
	margin: 10px 0 0 15px;
}

div#guide ul.q_and_a_link li {
	float: left;
	margin: 4px 0 0 0;
	width: 350px;
}

div#guide ul.q_and_a_link li.left {
	clear: both;
}

div#guide ul.q_and_a_link a {
	color: #0e5d00;
	text-decoration: underline;
}

div#guide dl.q_and_a {
	color: #000;
}

div#guide dl.q_and_a dt {
	background: url(../img/fraijeu/sub_page/guide/ico_q.gif) no-repeat left top;
	font-weight: bold;
	margin: 30px 0 0 0;
	padding: 2px 0 10px 30px;
}

div#guide dl.q_and_a dd {
	background: url(../img/fraijeu/sub_page/guide/ico_a.gif) no-repeat left top;
	padding: 0 0 0 30px;
}

/* プライバシー
------------------------------------ */

div#privacy div.orange_box {
	background: #fff;
	border: 3px solid #ffd482;
	margin: 5px 0 20px 0;
	padding: 30px 90px 80px 90px;
}

div#privacy h2 {
	margin: 0;
}

div#privacy dl {
	font-size: 15px;
	margin: 30px 5px 0 5px;
}

div#privacy dl dt {
	background: url(../img/fraijeu/sub_page/ico_brown_bean.gif) no-repeat left 4px;
	font-weight: bold;
	margin: 15px 0 0 0;
	padding: 0 0 5px 25px;
}

div#privacy dl dd {
	padding: 0 0 0 25px;
}

div#privacy div.date {
	font-size: 15px;
	margin: 0 0 0 700px;
}

/* お得情報
------------------------------------ */

div#otoku_info div.pink_box {
	background: #fff;
	border: 3px solid #f66681;
	margin: 5px 0 20px 0;
	padding: 0;
}

div#otoku_info p.lead {
	margin: 20px 0 0 20px;
}

div#otoku_info div.merit_box {
	font-size: 17px;
	margin: 30px 0 0 0;
	padding: 0 90px 0 60px;
}

div#otoku_info p.merit {
	color: #ff1e68;
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0 0 0;
	text-decoration: underline;
}

div#otoku_info p.merit img {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

div#otoku_info p.merit_sub {
	margin: 0 0 0 50px;
}

div#otoku_info table.delivery_time {
	float: left;
	margin: 10px 0 10px 50px;
	width: 480px
}

div#otoku_info table.delivery_day {
	border: 1px solid #ccc;
	float: left;
	margin: 10px 0 10px 20px;
}

div#otoku_info table th {
	color: #000;
	background: #f0efed;
	padding: 5px 8px;
	text-align: center;
}

div#otoku_info table th.title {
	color: #fff;
	background: #958b82;
}

div#otoku_info table.delivery_time td {
	background: #fff;
	color: #000;
	padding: 5px 8px;
	text-align: center;
}

div#otoku_info table.delivery_day td {
	background: #fff;
	border-style: none;
	color: #000;
	padding: 5px 8px;
	text-align: right;
}

div#otoku_info p.delivery_notice {
	clear: both;
	font-size: 13px;
	margin: 0 0 50px 50px;
}

/* ふれあい広場
--------------------------------- */

div#fureai {
	line-height: 1.3;
}

div#fureai h2 {
	margin: 40px 0 0 0;
}

div#fureai h3 {
	margin: 40px 0 0 0;
}

div#fureai h5 {
        margin: 0px 0px 10px 0px;
}

div#fureai p.product_map {
	margin: 30px 0 0 0;
	background: url("../img/fraijeu/bg.jpg");
}

div#fureai div.white_box {
	background: #fff;
	border: 1px solid #978a81;
	margin: 5px 0 20px 0;
	padding: 20px 10px 50px 10px;
	text-align: left;
}

div#fureai div.customer01_img {
	float: left;
	width: 619px;
}

div#fureai div.customer01_prof {
	float: right;
	width: 406px;
}

div#fureai p.customer_data {
	color: #000;
	font-size: 20px;
	margin: 3px 0 0 15px;
}

div#fureai p.profile_img {
	margin: 20px 0 0 0;
}

div#fureai p.profile {
	color: #000;
	font-size: 16px;	
	margin: 15px 0 0 0;
}

div#fureai h4 {
	margin: 30px 0 20px 0;
	text-align: center;
}

div#fureai div.customer02_txt {
	float: left;
	width: 660px;
}

div#fureai div.customer02_img {
	float: right;
	width: 357px;
	text-align:right;
}

div#fureai p.under_img {
	color: #000;
	font-size: 15px;
	margin: 5px 0 0 0;
}

div#fureai p.top_comment {
	color: #ff8400;
	font-size: 25px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

div#fureai p.top_comment2 {
	margin: 20px 0 10px 0;
}

div#fureai p.comment {
	font-size: 17px;
}

div#fureai span.pink {
	color: #ff3d98;
}

div#fureai span.blue {
	color: #0167ff;
}

div#fureai div.customer03_box {
	margin: 20px 0 0 0;
}

div#fureai div.customer03_img {
	float: left;
	width: 350px;
}

div#fureai div.customer03_txt {
	float: right;
	width: 670px;
}

div#fureai div.customer03_img p.under_img{
	width: 284px;
}

div#fureai p.staff01 {
	margin: 20px 0 0 0;
}

div#fureai div.customer04_prof {
	float: left;
	margin: 30px 0 0 0;
	width: 410px;
}

div#fureai div.customer04_img {
	float: right;
	width: 617px;
}

div#fureai div.customer05_box {
	margin: 0 0 20px 0;
}

div#fureai div.customer05_img {
	float: left;
	width: 274px;
}

div#fureai div.customer05_txt {
	float: right;
	width: 745px;
}

div#fureai div.customer06_box {
	float: right;
	margin: 20px 0 0 0;
	width: 580px;
}

div#fureai div.staff02_txt {
	float: left;
	width: 670px;
}

div#fureai div.staff02_img {
	float: right;
	width: 347px;
}

div#fureai div.customer07_img {
	float: left;
	margin: 0 0 0 40px;
	width: 489px;
}

div#fureai div.customer07_prof {
	float: right;
	margin: 20px 0 0 0;
	width: 406px;
}

div#fureai div.customer08_box {
	margin: 0 0 20px 0;
}

div#fureai div.customer08_txt {
	float: left;
	width: 620px;
}
div#fureai div.customer08_img {
	float: right;
	width: 393px;
}
.experience {
    float: left;
    width: 489px;
}
.anzu_sub {
    margin-left: 12%;
}
div#fureai p.staff03 {
	margin: 20px 0 0 0;
	text-align: right;
}

div#fureai div.customer09_prof {
	float: left;
	width: 410px;
}

div#fureai div.customer09_img {
	float: right;
	width: 605px;
}

div#fureai div.customer10_box {
	margin: 0 0 20px 0;
}

div#fureai div.customer10_img {
	float: left;
	width: 385px;
}

div#fureai div.customer10_img p.under_img {
	width: 333px;
}

div#fureai div.customer10_txt {
	float: right;
	width: 655px;
}


div#fureai p.staff04 {
	margin: 20px 0 0 0;
}

div#fureai div.nopadding{
	padding: 10px 0 100px 0;
}

div#fureai p.rooibos_lead {
	font-size: 21px;
	margin: 0 10px;
}

div#fureai span.purple {
	color: #ff0066;
}

div#fureai p.rooibos_lead_right {
	font-size: 21px;
	margin: 0 10px;
	text-align: right;	
}

/* ご利用規約
// 会員ご利用規約
------------------------------------ */

div#kiyaku div.orange_box {
	background: #fff;
	border: 3px solid #ffd482;
	margin: 5px 0 20px 0;
	padding: 30px 90px 80px 90px;
}

div#kiyaku h2 {
	margin: 0;
}

div#kiyaku dl {
	font-size: 15px;
	margin: 30px 5px;
}

div#kiyaku dl dt {
	background: url(../img/fraijeu/sub_page/ico_brown_bean.gif) no-repeat left 4px;
	font-weight: bold;
	margin: 15px 0 0 0;
	padding: 0 0 5px 25px;
}

div#kiyaku dl dd {
	padding: 0 0 0 25px;
}

div#kiyaku textarea{
	margin: 0 auto;
	padding:10px;
	width:850px;
	font-size:15px;
	color:#555555;
	height:1000px;
}

/* loginページ
------------------------------------- */

div#fraijeu_login div.orange_box {
	background: #fff;
	border: 3px solid #ffd482;
	margin: 20px 0 20px 0;
	padding: 24px 23px;
}

div#fraijeu_login div.orange_box p.lead {
	font-size: 15px;
	margin: 20px 50px 70px 10px; 
}

div#fraijeu_login div.orange_box div.input_area {
	margin: 0 0 0 117px;
}

div#fraijeu_login div.orange_box div.input_area div {
	background: url(../img/fraijeu/login/ico_bean.gif) no-repeat left 2px;
	float: left;
	font-weight: bold;
	padding: 0 0 10px 30px;
	width: 194px;
}

div#fraijeu_login div.orange_box div.input_area input {
	width: 305px;
}

div#fraijeu_login div.orange_box div.remember_email {
	margin: 0 0 20px 135px;
}

div#fraijeu_login div.orange_box div.remember_email input {
	margin: 0 3px 0 0;
}

div#fraijeu_login div.orange_box div.btn_area {
	margin: 35px 0 40px 0;
	text-align: center;
}

div#fraijeu_login div.orange_box p.notice {
	font-size: 13px;
	margin: 0 0 0 10px; 
}

div#fraijeu_login div.orange_box p.notice a {
	color: #ff0000;
	text-decoration: underline;
}

div#fraijeu_login div.orange_box p.lead2 {
	font-size: 15px;
	margin: 40px 10px 40px 10px; 
}

div#fraijeu_login div.orange_box div.btn_area2 {
	margin: 0 0 10px 0;
	text-align: center;
}

/* お問い合わせ
--------------------------------- */

div#inquiry div.orange_box {
	background: #fff;
	border: 3px solid #ffd482;
	margin: 5px 0 20px 0;
	padding: 30px 90px 0 90px;
}

div#inquiry h2 {
	margin: 0;
}

div#inquiry p.lead {
	color: #000;
	font-size: 15px;
	margin: 15px 0 0 0;
}

div#inquiry span.red {
	color: #ff0000;
}

div#inquiry table {
	background: url(../img/fraijeu/sub_page/inquiry/bg_table_border.gif) no-repeat center bottom;
	border-style: none;
	font-size: 12px;
	margin: 40px 45px 0 60px;
	width: 632px;
}

div#inquiry table tr {
	background: url(../img/fraijeu/sub_page/inquiry/bg_table_border.gif) no-repeat left top;
}

div#inquiry table th {
	background: transparent url(../img/fraijeu/sub_page/ico_brown_bean.gif) no-repeat left 10px;
	border-style: none;
	font-weight: bold;
	padding: 10px 8px 8px 25px;
	text-align: left;
	vertical-align: top;
	width: 173px;
}

div#inquiry table td {
	border-style: none;
}


div#inquiry table td span.bold {
	font-weight: bold;
}

div#inquiry table td a {
	color: #3a75af;
	text-decoration: underline;
}

div#inquiry table span.red {
	color: #ff0000;
}

div#inquiry table span.small {
	font-size: 11px;
}

div#inquiry table td img.middle {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

div#inquiry table td input.name {
	width: 125px;
}

div#inquiry table td input.zip {
	width: 65px;
}

div#inquiry table td input.address {
	width: 305px;
}

div#inquiry table td input.tel {
	width: 65px;
}

div#inquiry table td input.email {
	width: 240px;
}

div#inquiry table td input.password {
	width: 125px;
}

div#inquiry table td input.hint {
	width: 240px;
}

div#inquiry table td textarea {
	height: 300px;
	width: 345px;
}

div#inquiry table td input,
div#inquiry table td select {
	margin: 2px;
}

div#inquiry div.btn_area {
	margin: 30px 0 20px 0;
	text-align: center;
}

/* お届け先の追加
-------------------------------- */

div#edit_address div.orange_box {
	background: #fff;
	border: 3px solid #ffd482;
	margin: 20px 0 20px 0;
	padding: 24px 23px;
}

div#edit_address div.orange_box p.lead {
	font-size: 15px;
	margin: 20px 50px 0 10px; 
}

div#edit_address div.orange_box div.btn_area {
	margin: 5px 0 0 0;
	text-align: right;
}

div#edit_address div.orange_box div.notice_top {
	background: #faeddc url(../img/fraijeu/mypage/bg_notice_top.gif) no-repeat left top;
	margin: 20px 0 70px 0;
	padding: 20px 0 0 0;
	width: 738px;
}

div#edit_address div.orange_box div.notice_middle {
	background: #faeddc;
	color: #ffa701;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

div#edit_address div.orange_box div.notice_bottom {
	background: #faeddc url(../img/fraijeu/mypage/bg_notice_bottom.gif) no-repeat left bottom;
	padding: 0 0 20px 0;
}

table#delivery_table{
	width:700px;
}

/* 購入履歴
---------------------------- */

div#history div.orange_box {
	background: #fff;
	border: 3px solid #ffd482;
	margin: 20px 0 20px 0;
	padding: 24px 23px;
}

div#history div.orange_box div.notice_top {
	background: #faeddc url(../img/fraijeu/mypage/bg_notice_top.gif) no-repeat left top;
	margin: 40px 0 100px 0;
	padding: 20px 0 0 0;
	width: 738px;
}

div#history div.orange_box div.notice_middle {
	background: #faeddc;
	color: #ffa701;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

div#history div.orange_box div.notice_bottom {
	background: #faeddc url(../img/fraijeu/mypage/bg_notice_bottom.gif) no-repeat left bottom;
	padding: 0 0 20px 0;
}

table.history_table{
	width:700px;
}

/* 会員登録情報変更
------------------------------ */

div#edit_member div.orange_box {
	background: #fff;
	border: 3px solid #ffd482;
	margin: 20px 0 20px 0;
	padding: 24px 23px;
}

div#edit_member div.orange_box p.lead {
	font-size: 15px;
	margin: 20px 50px 0 10px; 
}

div#edit_member div.orange_box table {
	border-style: none;
	font-size: 12px;
	margin: 65px 45px 0 60px;
	width: 632px;
}

div#edit_member div.orange_box table tr {
	background: url(../img/fraijeu/mypage/edit_member/bg_table_border.gif) no-repeat left top;
}

div#edit_member div.orange_box table th {
	background: transparent url(../img/fraijeu/mypage/edit_member/ico_bean.gif) no-repeat left 10px;
	border-style: none;
	font-weight: bold;
	padding: 10px 8px 8px 25px;
	text-align: left;
	vertical-align: top;
	width: 223px;
}

div#edit_member div.orange_box table td {
	border-style: none;
}


div#edit_member div.orange_box table td span.bold {
	font-weight: bold;
}

div#edit_member div.orange_box table td a {
	color: #3a75af;
	text-decoration: underline;
}

div#edit_member span.red {
	color: #ff0000;
}

div#edit_member div.orange_box table span.small {
	font-size: 11px;
}

div#edit_member div.orange_box table td img.middle {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

div#edit_member div.orange_box table td input.name {
	width: 125px;
}

div#edit_member div.orange_box table td input.zip {
	width: 65px;
}

div#edit_member div.orange_box table td input.address {
	width: 305px;
}

div#edit_member div.orange_box table td input.tel {
	width: 65px;
}

div#edit_member div.orange_box table td input.email {
	width: 240px;
}

div#edit_member div.orange_box table td input.password {
	width: 125px;
}

div#edit_member div.orange_box table td input.hint {
	width: 240px;
}

div#edit_member div.orange_box table td input,
div#edit_member div.orange_box table td select {
	margin: 2px;
}

div#edit_member div.orange_box div.btn_area {
	margin: 80px 0 40px 0;
	text-align: center;
}
div#edit_member div.orange_box {
        background: #fff;
        border: 3px solid #ffd482;
        margin: 20px 0 20px 0;
        padding: 24px 23px;
}

div#edit_member div.orange_box div.notice_top {
        background: #faeddc url(../img/fraijeu/mypage/bg_notice_top.gif) no-repeat left top;
        margin: 40px 0 100px 0;
        padding: 20px 0 0 0;
        width: 738px;
}

div#edit_member div.orange_box div.notice_middle {
        background: #faeddc;
        color: #ffa701;
        font-size: 17px;
        font-weight: bold;
        text-align: center;
}

div#edit_member div.orange_box div.notice_bottom {
        background: #faeddc url(../img/fraijeu/mypage/bg_notice_bottom.gif) no-repeat left bottom;
        padding: 0 0 20px 0;
}

/* 会員退会
------------------------------------ */


div#quit div.orange_box {
	background: #fff;
	border: 3px solid #ffd482;
	margin: 20px 0 20px 0;
	padding: 24px 23px;
}

div#quit div.orange_box p.lead {
	background: url(../img/fraijeu/mypage/quit/ico_notice.gif) no-repeat left top;
	font-size: 15px;
	margin: 20px 60px 0 60px;
	padding: 0 0 30px 60px;
	text-align: center;
}

div#quit div.orange_box div.btn_area {
	margin: 0;
	text-align: center;
}

div#quit div.orange_box p.notice {
	color: #ff0000;
	margin: 20px 0 0 10px;
}

div#quit div.orange_box div.notice_top {
        background: #faeddc url(../img/fraijeu/mypage/bg_notice_top.gif) no-repeat left top;
        margin: 40px 0 100px 0;
        padding: 20px 0 0 0;
        width: 738px;
}

div#quit div.orange_box div.notice_middle {
        background: #faeddc;
        color: #ffa701;
        font-size: 17px;
        font-weight: bold;
        text-align: center;
}

div#quit div.orange_box div.notice_bottom {
        background: #faeddc url(../img/fraijeu/mypage/bg_notice_bottom.gif) no-repeat left bottom;
        padding: 0 0 20px 0;
}


/* ルイボス
-------------------------------------------- */

div#ruibos_top {
    position: relative;
}
div#ruibos_top div#top_comment {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 775px;
    width: 630px;
}
div#ruibos_top div#top_taxfree {
    left: 22px;
    position: absolute;
    top: 940px;
}
div#ruibos_top table {
    border: 1px solid #000000;
    color: #4C2311;
    left: 20px;
    line-height: 1.2;
    position: absolute;
    top: 933px;
}
div#ruibos_top table th {
    background-color: #ECFFFF;
    border: 1px solid #000000;
    font-size: 20px;
    height: 46px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 175px;
}
div#ruibos_top table td {
    border: 1px solid #000000;
    font-size: 17px;
    height: 46px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 270px;
}
div#ruibos_top table td.wide {
    padding: 0 10px;
    text-align: left;
    vertical-align: middle;
    width: 375px;
}
div#ruibos_04 {
    position: relative;
}
div#ruibos_04 div#comment04 {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 455px;
}
div#ruibos_04 div#taxfree04 {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 513px;
}
div#ruibos_05 {
    color: #000000;
    font-size: 14px;
    position: relative;
}
div#ruibos_05 div#revo1 {
    left: 35px;
    position: absolute;
    top: 168px;
    width: 220px;
}
div#ruibos_05 div#revo2 {
    left: 295px;
    position: absolute;
    top: 168px;
    width: 220px;
}
div#ruibos_05 div#revo3 {
    left: 555px;
    position: absolute;
    top: 168px;
    width: 220px;
}
div#ruibos_05 div#revo4 {
    left: 815px;
    position: absolute;
    top: 168px;
    width: 220px;
}
div#ruibos_08 {
    position: relative;
}
div#ruibos_08 div#comment08 {
    color: #1C1C1C;
    font-size: 10px;
    left: 320px;
    position: absolute;
    top: 555px;
/*    width:690px;*/
}
div#ruibos_08 div#taxfree08 {
    font-size: 10px;
    left: 835px;
    position: absolute;
    top: 525px;
    width: 280px;
}

/* うるる
------------------------------------- */

div#ururu_top {
    position: relative;
}
div#ururu_top div#top_comment {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 648px;
    width: 630px;
}
div#ururu_top div#top_taxfree {
    left: 22px;
    position: absolute;
    top: 840px;
}
div#ururu_top table {
    border: 1px solid #000000;
    color: #4C2311;
    left: 20px;
    line-height: 1.2;
    position: absolute;
    top: 800px;
}
div#ururu_top table th {
    background-color: #ECFFFF;
    border: 1px solid #000000;
    font-size: 20px;
    height: 52px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 170px;
}
div#ururu_top table td {
    border: 1px solid #000000;
    font-size: 16px;
    height: 52px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 270px;
}
div#ururu_top table td.wide {
    line-height: 1.2;
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
    width: 385px;
}
div#ururu_04 {
    position: relative;
}
div#ururu_04 div#comment04 {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 550px;
    width: 630px;
}
div#ururu_04 div#taxfree04 {
    left: 22px;
    position: absolute;
    top: 613px;
}
div#ururu_05 {
    color: #000000;
    font-size: 14px;
    position: relative;
}
div#ururu_05 div#revo1 {
    left: 35px;
    position: absolute;
    top: 168px;
    width: 220px;
}
div#ururu_05 div#revo2 {
    left: 295px;
    position: absolute;
    top: 168px;
    width: 220px;
}
div#ururu_05 div#revo3 {
    left: 555px;
    position: absolute;
    top: 168px;
    width: 220px;
}
div#ururu_05 div#revo4 {
    left: 815px;
    position: absolute;
    top: 168px;
    width: 220px;
}
div#ururu_06 {
    color: #460A0A;
    font-size: 13px;
    position: relative;
}
div#ururu_06 div#sozai1 {
    left: 25px;
    position: absolute;
    top: 400px;
    width: 270px;
}
div#ururu_06 div#sozai2 {
    left: 890px;
    position: absolute;
    top: 180px;
    width: 155px;
}
div#ururu_06 div#sozai3 {
    left: 890px;
    position: absolute;
    top: 460px;
    width: 155px;
}
div#ururu_06 div#sozai4 {
    left: 275px;
    position: absolute;
    top: 675px;
    width: 236px;
}
div#ururu_06 div#sozai5 {
    left: 755px;
    position: absolute;
    top: 675px;
    width: 210px;
}
div#ururu div.qa {
    margin: 10px 0 0;
}
div#ururu_08 {
    position: relative;
}
div#ururu_08 div#comment08 {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 550px;
    width: 630px;
}
div#ururu_08 div#taxfree08 {
    left: 22px;
    position: absolute;
    top: 613px;
}

/* びそうこうちゃ黒
-------------------------------------------- */


@charset "utf-8";
div#black_top {
    position: relative;
}
div#black_top div#top_comment {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 707px;
    width: 630px;
}
div#black_top div#top_taxfree {
    left: 22px;
    position: absolute;
    top: 880px;
}
div#black_top table {
    border: 1px solid #000000;
    color: #4C2311;
    left: 20px;
    line-height: 1.2;
    position: absolute;
    top: 866px;
}
div#black_top table th {
    background-color: #ECFFFF;
    border: 1px solid #000000;
    font-size: 20px;
    height: 46px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 175px;
}
div#black_top table td {
    border: 1px solid #000000;
    font-size: 17px;
    height: 46px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 270px;
}
div#black_top table td.wide {
    padding: 0 10px;
    text-align: left;
    vertical-align: middle;
    width: 375px;
}
div#black_04 {
    position: relative;
}
div#black_04 div#comment04 {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 440px;
    width: 630px;
}
div#black_04 div#taxfree04 {
    left: 22px;
    position: absolute;
    top: 498px;
}
div#black_05 {
    color: #3D2311;
    font-size: 13px;
    position: relative;
}
div#black_05 div#revo1 {
    left: 35px;
    position: absolute;
    top: 165px;
    width: 220px;
}
div#black_05 div#revo2 {
    left: 295px;
    position: absolute;
    top: 165px;
    width: 220px;
}
div#black_05 div#revo3 {
    left: 555px;
    position: absolute;
    top: 165px;
    width: 220px;
}
div#black_05 div#revo4 {
    left: 815px;
    position: absolute;
    top: 165px;
    width: 220px;
}
div#black_06 {
    color: #000000;
    font-size: 11px;
    position: relative;
}
div#black_06 div#sozai1 {
    left: 40px;
    position: absolute;
    top: 290px;
    width: 291px;
}
div#black_06 div#sozai2 {
    left: 380px;
    position: absolute;
    top: 168px;
    width: 200px;
}
div#black_06 div#sozai3 {
    left: 606px;
    position: absolute;
    top: 168px;
    width: 200px;
}
div#black_06 div#sozai4 {
    left: 832px;
    position: absolute;
    top: 168px;
    width: 200px;
}
div#black_06 div#sozai5 {
    left: 380px;
    position: absolute;
    top: 325px;
    width: 200px;
}
div#black_06 div#sozai6 {
    left: 606px;
    position: absolute;
    top: 325px;
    width: 200px;
}
div#black_06 div#sozai7 {
    left: 832px;
    position: absolute;
    top: 325px;
    width: 200px;
}
div#black_06 div#sozai8 {
    left: 154px;
    position: absolute;
    top: 485px;
    width: 200px;
}
div#black_06 div#sozai9 {
    left: 380px;
    position: absolute;
    top: 485px;
    width: 200px;
}
div#black_06 div#sozai10 {
    left: 606px;
    position: absolute;
    top: 485px;
    width: 200px;
}
div#black_06 div#sozai11 {
    left: 832px;
    position: absolute;
    top: 485px;
    width: 200px;
}
div#black_06 div#sozai12 {
    left: 154px;
    position: absolute;
    top: 657px;
    width: 200px;
}
div#black_06 div#sozai13 {
    left: 380px;
    position: absolute;
    top: 657px;
    width: 200px;
}
div#black_06 div#sozai14 {
    left: 606px;
    position: absolute;
    top: 657px;
    width: 200px;
}
div#black_06 div#sozai15 {
    left: 832px;
    position: absolute;
    top: 657px;
    width: 200px;
}
div#black_08 {
    position: relative;
}
div#black_08 div#comment08 {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 440px;
    width: 630px;
}
div#black_08 div#taxfree08 {
    left: 22px;
    position: absolute;
    top: 498px;
}

/* びそうこうちゃ
------------------------------------ */


@charset "utf-8";
div#bisoukoucha_top {
    position: relative;
}
div#bisoukoucha_top div#top_comment {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 755px;
    width: 648px;
}
div#bisoukoucha_top div#top_taxfree {
    position: absolute;
    left: 22px;
    top: 930px;
}
div#bisoukoucha_top table {
    border: 1px solid #000000;
    color: #4C2311;
    left: 20px;
    line-height: 1.2;
    position: absolute;
    top: 840px;
}
div#bisoukoucha_top table th {
    background-color: #ECFFFF;
    border: 1px solid #000000;
    font-size: 20px;
    height: 46px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 175px;
}
div#bisoukoucha_top table td {
    border: 1px solid #000000;
    font-size: 17px;
    height: 46px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 270px;
}
div#bisoukoucha_top table td.wide {
    padding: 0 10px;
    text-align: left;
    vertical-align: middle;
    width: 375px;
}
div#bisoukoucha_04 {
    position: relative;
}
div#bisoukoucha_04 div#comment04 {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 545px;
    width:648px;
}
div#bisoukoucha_04 div#taxfree04 {
    left: 22px;
    position: absolute;
    top: 613px;
}
div#bisoukoucha_05 {
    color: #3D2311;
    font-size: 14px;
    position: relative;
}
div#bisoukoucha_05 div#revo1 {
    left: 35px;
    position: absolute;
    top: 525px;
    width: 220px;
}
div#bisoukoucha_05 div#revo2 {
    left: 295px;
    position: absolute;
    top: 525px;
    width: 220px;
}
div#bisoukoucha_05 div#revo3 {
    left: 555px;
    position: absolute;
    top: 525px;
    width: 220px;
}
div#bisoukoucha_05 div#revo4 {
    left: 815px;
    position: absolute;
    top: 525px;
    width: 220px;
}
div#bisoukoucha_06 {
    color: #000000;
    font-size: 11px;
    position: relative;
}
div#bisoukoucha_06 div#sozai1 {
    left: 20px;
    position: absolute;
    top: 285px;
    width: 270px;
}
div#bisoukoucha_06 div#sozai2 {
    left: 320px;
    position: absolute;
    top: 164px;
    width: 222px;
}
div#bisoukoucha_06 div#sozai3 {
    left: 555px;
    position: absolute;
    top: 164px;
    width: 222px;
}
div#bisoukoucha_06 div#sozai4 {
    left: 790px;
    position: absolute;
    top: 164px;
    width: 222px;
}
div#bisoukoucha_06 div#sozai5 {
    left: 320px;
    position: absolute;
    top: 323px;
    width: 222px;
}
div#bisoukoucha_06 div#sozai6 {
    left: 555px;
    position: absolute;
    top: 323px;
    width: 222px;
}
div#bisoukoucha_06 div#sozai7 {
    left: 790px;
    position: absolute;
    top: 323px;
    width: 222px;
}
div#bisoukoucha_06 div#sozai8 {
    left: 320px;
    position: absolute;
    top: 485px;
    width: 222px;
}
div#bisoukoucha_06 div#sozai9 {
    left: 555px;
    position: absolute;
    top: 485px;
    width: 222px;
}
div#bisoukoucha_06 div#sozai10 {
    left: 790px;
    position: absolute;
    top: 485px;
    width: 222px;
}
div#bisoukoucha_08 {
    position: relative;
}
div#bisoukoucha_08 div#comment08 {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 545px;
    width: 648px;
}
div#bisoukoucha_08 div#taxfree08 {
    left: 22px;
    position: absolute;
    top: 613px;
}

/* プラセンタローズ
------------------------------ */

@charset "utf-8";
div#rose_top {
    position: relative;
}
div#rose_top div#top_comment {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 650px;
}
div#rose_top div#top_taxfree {
    left: 22px;
    position: absolute;
    top: 895px;
}
div#rose_top table {
    border: 1px solid #000000;
    color: #4C2311;
    left: 20px;
    line-height: 1.2;
    position: absolute;
    top: 810px;
}
div#rose_top table th {
    background-color: #ECFFFF;
    border: 1px solid #000000;
    font-size: 20px;
    height: 62px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 175px;
}
div#rose_top table td {
    border: 1px solid #000000;
    font-size: 16px;
    height: 62px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 270px;
}
div#rose_top table td.wide {
    padding: 0 10px;
    text-align: left;
    vertical-align: middle;
    width: 375px;
}
div#rose_top div.notice {
    font-size: 12px;
    left: 22px;
    position: absolute;
    top: 967px;
}
div#rose_04 {
    position: relative;
}
div#rose_04 div#comment04 {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 445px;
}
div#rose_04 div#taxfree04 {
    left: 22px;
    position: absolute;
    top: 502px;
}
div#rose_05 {
    color: #000000;
    font-size: 14px;
    position: relative;
}
div#rose_05 div#revo1 {
    left: 115px;
    position: absolute;
    top: 168px;
    width: 260px;
}
div#rose_05 div#revo2 {
    left: 420px;
    position: absolute;
    top: 168px;
    width: 260px;
}
div#rose_05 div#revo3 {
    left: 725px;
    position: absolute;
    top: 168px;
    width: 260px;
}
div#rose_05 div#revo4 {
    left: 270px;
    position: absolute;
    top: 380px;
    width: 260px;
}
div#rose_05 div#revo5 {
    left: 575px;
    position: absolute;
    top: 380px;
    width: 260px;
}
div#rose_06 {
    color: #460A0A;
    font-size: 11px;
    position: relative;
}
div#rose_06 div#sozai1 {
    color: #231815;
    font-size: 14px;
    left: 15px;
    position: absolute;
    top: 460px;
    width: 270px;
}
div#rose_06 div#sozai2 {
    left: 900px;
    position: absolute;
    top: 140px;
    width: 147px;
}
div#rose_06 div#sozai3 {
    left: 900px;
    position: absolute;
    top: 368px;
    width: 147px;
}
div#rose_06 div#sozai4 {
    left: 930px;
    position: absolute;
    top: 545px;
    width: 119px;
}
div#rose_08 {
    position: relative;
}
div#rose_08 div#comment08 {
    color: #1C1C1C;
    left: 22px;
    position: absolute;
    top: 445px;
}
div#rose_08 div#taxfree08 {
    left: 22px;
    position: absolute;
    top: 502px;
}

/* 会員登録
--------------------------------- */

div#entry div.orange_box {
        background: #fff;
        border: 3px solid #ffd482;
        margin: 5px 0 20px 0;
        padding: 30px 90px 0 90px;
}

div#entry h2 {
        margin: 0;
}

div#entry p.lead {
        color: #000;
        font-size: 15px;
        margin: 15px 0 0 0;
}

div#entry span.red {
        color: #ff0000;
}

div#entry table {
        background: url(../img/fraijeu/sub_page/inquiry/bg_table_border.gif) no-repeat center bottom;
        border-style: none;
        font-size: 12px;
        margin: 40px 45px 0 60px;
        width: 632px;
}

div#entry table tr {
        background: url(../img/fraijeu/sub_page/inquiry/bg_table_border.gif) no-repeat left top;
}

div#entry table th {
        background: transparent url(../img/fraijeu/sub_page/ico_brown_bean.gif) no-repeat left 10px;
        border-style: none;
        font-weight: bold;
        padding: 10px 8px 8px 25px;
        text-align: left;
        vertical-align: top;
        width: 173px;
}

div#entry table td span.bold {
        font-weight: bold;
}

div#entry table td a {
        color: #3a75af;
        text-decoration: underline;
}

div#entry table span.red {
        color: #ff0000;
}

div#entry table span.small {
        font-size: 11px;
}

div#entry table td img.middle {
        margin: 0 5px 0 0;
        vertical-align: middle;
}

div#entry table td input.name {
        width: 125px;
}

div#entry table td input.zip {
        width: 65px;
}

div#entry table td input.address {
        width: 305px;
}

div#entry table td input.tel {
        width: 65px;
}

div#entry table td input.email {
        width: 240px;
}

div#entry table td input.password {
        width: 125px;
}

div#entry table td input.hint {
        width: 240px;
}

div#entry table td textarea {
        height: 300px;
        width: 345px;
}

div#entry table td input,
div#entry table td select {
        margin: 2px;
}

div#entry div.btn_area {
        margin: 30px 0 20px 0;
        text-align: center;
}

div#entry table td{
	border:0px;
}

table.entry_table td {
	border:0px;
}

/* パスワードを忘れた方はこちら
------------------------------- */

div#popup_password h2 {
    margin: 20px 0 0 45px;
}
div#popup_password p {
    margin: 20px 10px 0 45px;
}
div#popup_password p span {
    color: #FF0000;
}
div#popup_password div.orange_box {
    border: 7px solid #E9A625;
    margin: 10px auto 0px auto;
    width: 485px;
}
div#popup_password div.orange_box p {
    margin: 55px 0 55px 40px;
}
div#popup_password div.orange_box p input {
    width: 305px;
}
div#popup_password div.btn_area {
    margin: 30px 0 20px;
    text-align: center;
}

/* カートページ
------------------------------------ */
div#shopping_cart textarea.area470{
    font-size:12px;
    border: 1px solid #CCCCCC;
    margin: 5px 0 0;
    width:773px;
    height:130px;
    padding:10px;
}

div#shopping_cart div.orange_box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #FFD482;
    color: #000000;
    margin: 20px 0 40px;
    padding: 20px 80px;
}
div#shopping_cart div.orange_box div.total {
    border: 1px solid #CCCCCC;
    margin: 0 5px;
    padding: 10px;
    text-align: center;
}
div#shopping_cart div.orange_box table {
    font-size: 12px;
    margin: 15px 0 0;
    width: 100%;
}
div#shopping_cart div.orange_box table.member th {
    width: 180px;
}
div#shopping_cart div.orange_box table th {
    background: none repeat scroll 0 0 #F0F0F0;
    text-align: center;
}
div#shopping_cart div.orange_box table td.total {
    color: #FF0000;
    font-weight: bold;
}
div#shopping_cart div.orange_box table td span.bold {
    font-weight: bold;
}
div#shopping_cart div.orange_box table td a {
    color: #000000;
}
div#shopping_cart span.red {
    color: #FF0000;
}
div#shopping_cart div.orange_box table span.small {
    font-size: 11px;
}
div#shopping_cart div.orange_box table .center {
    text-align: center;
}
div#shopping_cart div.orange_box table .left {
    text-align: left;
}
div#shopping_cart div.orange_box table .right {
    text-align: right;
}
div#shopping_cart div.orange_box table td img.middle {
    margin: 0 5px 0 0;
    vertical-align: middle;
}
div#shopping_cart div.orange_box table td input.name {
    width: 125px;
}
div#shopping_cart div.orange_box table td input.zip {
    width: 65px;
}
div#shopping_cart div.orange_box table td input.address {
    width: 305px;
}
div#shopping_cart div.orange_box table td input.tel {
    width: 65px;
}
div#shopping_cart div.orange_box table td input.email {
    width: 240px;
}
div#shopping_cart div.orange_box table td input.hint {
    width: 240px;
}
div#shopping_cart div.orange_box table td input, div#shopping_cart div.orange_box table td select {
    margin: 2px;
}
div#shopping_cart div.orange_box div.warning_color {
    font-size: 11px;
    margin: 10px 0 0;
    text-align: center;
}
div#shopping_cart div.orange_box div.course {
    background: none repeat scroll 0 0 #FFCF9C;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 10px 8px 8px;
}
div#shopping_cart div.orange_box div.course div.left {
    color: #FF0000;
    float: left;
}
div#shopping_cart div.orange_box div.course div.right {
    float: right;
}
div#shopping_cart div.orange_box div.course div.right select {
    margin: 0 0 0 3px;
}
div#shopping_cart div.orange_box div.course div.right div.month {
    float: left;
    text-align: right;
    width: 150px;
}
div#shopping_cart div.orange_box div.course div.right div.day {
    float: left;
    text-align: right;
    width: 150px;
}
div#shopping_cart div.orange_box div.input_area div {
    background: url("../img/fraijeu/login/ico_bean.gif") no-repeat scroll left 2px transparent;
    float: left;
    font-weight: bold;
    padding: 0 0 10px 30px;
    width: 194px;
}
div#shopping_cart div.orange_box div.warning_date {
    margin: 20px 35px 0;
}
div#shopping_cart div.orange_box div.warning_already {
    border: 1px solid #FF0000;
    color: #FF0000;
    font-weight: bold;
    margin: 40px 30px 0;
    padding: 10px 75px 10px 10px;
}
div#shopping_cart div.orange_box div.warning_already a {
    color: #000000;
}
div#shopping_cart div.orange_box div.btn_area {
    margin: 35px 0 0;
    text-align: center;
}
div#shopping_cart div.orange_box div.warning_first_time {
    font-size: 16px;
    font-weight: bold;
    margin: 30px 0 0;
    text-align: center;
}
div#shopping_cart div.orange_box div.warning_first_time2 {
    background: none repeat scroll 0 0 #F6E0D3;
    margin: 20px 0 0;
    padding: 15px;
}
div#shopping_cart div.orange_box div.warning_first_time2 span {
    color: #0000FF;
    font-weight: bold;
}
div#shopping_cart div.orange_box div.kiyaku {
    border: 1px solid #CCCCCC;
    height: 94px;
    margin: 10px 0 0;
    overflow-y: scroll;
}
div#shopping_cart div.orange_box div.agree {
    margin: 10px 0 0;
    text-align: center;
}
div#shopping_cart div.orange_box p.warning_pay {
    font-size: 11px;
}
div#shopping_cart div.orange_box p.warning_delivery {
    font-size: 11px;
    margin: 15px 0 0;
}
div#shopping_cart div.orange_box textarea {
    height: 110px;
    width: 585px;
}
div#shopping_cart div.orange_box p.warning_message {
    color: #FF0000;
}
div#shopping_cart div.btn_area2 {
    margin: 5px 0 100px;
    text-align: center;
}

/* 買い物の流れ
---------------------------------- */


/* 買い物の流れ　お客様情報入力画面
---------------------------------- */

table#nonmember_table .other_deliv{
	background-color:#ffffff;
	padding:30px 0px 8px 0px;
	background-image:none;
}


/* 買い物の流れ　お支払い方法・配送時間の指定
---------------------------------- */

div#shopping_payment div.orange_box div.input_area_waku{
        margin: 0 0 0 117px;
}

div#shopping_payment div.orange_box {
        background: #fff;
        border: 3px solid #ffd482;
        margin: 5px 0 20px 0;
        padding: 30px 90px 0 90px;
}


div#shopping_payment h2 {
        margin: 0;
}

div#shopping_payment p.lead {
        color: #000;
        font-size: 15px;
        margin: 10px 0px 15px 0px;
}

div#shopping_payment span.red {
        color: #ff0000;
}

div#shopping_payment table {
        background: url(../img/fraijeu/sub_page/inquiry/bg_table_border.gif) no-repeat center bottom;
        border-style: none;
        font-size: 12px;
        width: 100%;
	margin-bottom:10px;
}

div#shopping_payment table tr {
        background: url(../img/fraijeu/sub_page/inquiry/bg_table_border.gif) no-repeat left top;
}


div#shopping_payment table th {
        background: transparent url(../img/fraijeu/sub_page/ico_brown_bean.gif) no-repeat left 10px;
        border-style: none;
        font-weight: bold;
        padding: 10px 8px 8px 25px;
        text-align: left;
        vertical-align: top;
        width: 173px;
}

div#shopping_payment table td {
        border-style: none;
}


div#shopping_payment table td span.bold {
        font-weight: bold;
}

div#shopping_payment table td a {
        color: #3a75af;
        text-decoration: underline;
}

div#shopping_payment table span.red {
        color: #ff0000;
}


div#shopping_payment table td input,
div#shopping_payment table td select {
        margin: 2px;
}

div#shopping_payment div.btn_area {
        margin: 30px 0 20px 0;
        text-align: center;
}

div#shopping_payment div.orange_box div.input_area div{
    background: url("../img/fraijeu/login/ico_bean.gif") no-repeat scroll left 2px transparent;
    float: left;
    font-weight: bold;
    padding: 0 0 10px 30px;
    width: 194px;
}

div#shopping_payment div.orange_box div.remember_email {
        margin: 0 0 20px 15px;
}

div#shopping_payment div.orange_box p.notice{
    font-size: 13px;
    margin: 0 0 20px 10px;
}

div#shopping_payment .inner_area {
    border-style: none;
    font-size: 12px;
    margin: 0px 45px 30px 60px;
    width: 632px;
}

div#shopping_payment .inner_area textarea{
    width: 630px;
}


/* 買い物の流れ　ログイン
---------------------------------- */

div#shopping_login div.orange_box div.input_area_waku{
        margin: 0 0 0 117px;
}

div#shopping_login div.orange_box {
        background: #fff;
        border: 3px solid #ffd482;
        margin: 5px 0 20px 0;
        padding: 30px 90px 0 90px;
}

div#shopping_login h2 {
        margin: 0;
}

div#shopping_login p.lead {
        color: #000;
        font-size: 15px;
        margin: 20px 50px 70px 10px;
}

div#shopping_login span.red {
        color: #ff0000;
}

div#shopping_login table {
        background: url(../img/fraijeu/sub_page/inquiry/bg_table_border.gif) no-repeat center bottom;
        border-style: none;
        font-size: 12px;
        margin: 40px 45px 0 60px;
        width: 632px;
}

div#shopping_login table tr {
        background: url(../img/fraijeu/sub_page/inquiry/bg_table_border.gif) no-repeat left top;
}


div#shopping_login table th {
        background: transparent url(../img/fraijeu/sub_page/ico_brown_bean.gif) no-repeat left 10px;
        border-style: none;
        font-weight: bold;
        padding: 10px 8px 8px 25px;
        text-align: left;
        vertical-align: top;
        width: 173px;
}

div#shopping_login table td {
        border-style: none;
}


div#shopping_login table td span.bold {
        font-weight: bold;
}

div#shopping_login table td a {
        color: #3a75af;
        text-decoration: underline;
}

div#shopping_login table span.red {
        color: #ff0000;
}


div#shopping_login table td input,
div#shopping_login table td select {
        margin: 2px;
}

div#shopping_login div.btn_area {
        margin: 30px 0 20px 0;
        text-align: center;
}

div#shopping_login div.orange_box div.input_area div{
    background: url("../img/fraijeu/login/ico_bean.gif") no-repeat scroll left 2px transparent;
    float: left;
    font-weight: bold;
    padding: 0 0 10px 30px;
    width: 194px;
}

div#shopping_login div.orange_box div.remember_email {
        margin: 0 0 20px 15px;
}

div#shopping_login div.orange_box p.notice{
    font-size: 13px;
    margin: 0 0 20px 10px;
}

/* 買い物の流れ　ご注文確認
---------------------------------- */

div#shopping_confirm div.orange_box div.input_area_waku{
        margin: 0 0 0 117px;
}

div#shopping_confirm div.orange_box {
        background: #fff;
        border: 3px solid #ffd482;
        margin: 5px 0 20px 0;
        padding: 30px 90px 0 90px;
}


div#shopping_confirm h2 {
        margin: 0;
}

div#shopping_confirm p.lead {
        color: #000;
        font-size: 15px;
        margin: 10px 0px 15px 0px;
}


div#shopping_confirm span.red {
        color: #ff0000;
}

div#shopping_confirm table {
        font-size: 12px;
        width: 100%;
        margin-bottom:10px;
}

div#shopping_confirm table tr {
}


div#shopping_confirm table th {
        vertical-align: top;
}

div#shopping_confirm table td {
}


div#shopping_confirm table td span.bold {
        font-weight: bold;
}

div#shopping_confirm table td a {
        color: #3a75af;
        text-decoration: underline;
}

div#shopping_confirm table span.red {
        color: #ff0000;
}


div#shopping_confirm table td input,
div#shopping_confirm table td select {
        margin: 2px;
}

div#shopping_confirm div.btn_area {
        margin: 30px 0 20px 0;
        text-align: center;
}

div#shopping_confirm div.orange_box div.input_area div{
    float: left;
    font-weight: bold;
    padding: 0 0 10px 30px;
    width: 194px;
}

div#shopping_confirm div.orange_box p.notice{
    font-size: 13px;
    margin: 0 0 20px 10px;
}

div#shopping_confirm .inner_area {
    border-style: none;
    font-size: 12px;
    margin: 0px 45px 30px 60px;
    width: 632px;
}

div#shopping_confirm .inner_area textarea{
    width: 630px;
}

div#shopping_confirm .trial_product .float_left {
	float:left;
	width:235px;
	margin-bottom:15px;
}

div#shopping_confirm .trial_product .float_right {
	float:right;
	width:635px;
	text-align:left;
	font-size:14px;
	line-height:200%;
	margin-bottom:15px;
}

div#shopping_confirm .trial_product .float_right th {
	text-align:left;
	font-size:14px;
	color:#90c302;
	font-weight:bold;
	border:0px solid #ffffff;
	padding:4px 0px;
	background-color:#ffffff;
}

div#shopping_confirm .trial_product .float_right table {
	padding-top:20px;
	border:0px solid #ffffff;
}

div#shopping_confirm .trial_product .float_right td {
	text-align:left;
	border:0px solid #ffffff;
	font-size:14px;
	padding:4px 0px;
}

/* 買い物の流れ　お届け先の指定
---------------------------------- */

div#shopping_deliv div.orange_box div.input_area_waku{
        margin: 0 0 0 117px;
}

div#shopping_deliv div.orange_box {
        background: #fff;
        border: 3px solid #ffd482;
        margin: 5px 0 20px 0;
        padding: 30px 90px 0 90px;
}


div#shopping_deliv h2 {
        margin: 0;
}

div#shopping_deliv p.lead {
        color: #000;
        font-size: 15px;
        margin: 10px 0px 15px 0px;
}


div#shopping_deliv span.red {
        color: #ff0000;
}

div#shopping_deliv table {
        font-size: 12px;
        width: 100%;
        margin-bottom:10px;
}

div#shopping_deliv table th {
        vertical-align: top;
}

div#shopping_deliv table td {
}


div#shopping_deliv table td span.bold {
        font-weight: bold;
}

div#shopping_deliv table td a {
        color: #3a75af;
        text-decoration: underline;
}

div#shopping_deliv table span.red {
        color: #ff0000;
}


div#shopping_deliv table td input,
div#shopping_deliv table td select {
        margin: 2px;
}

div#shopping_deliv div.btn_area {
        margin: 30px 0 20px 0;
        text-align: center;
}

div#shopping_deliv div.orange_box div.input_area div{
    float: left;
    font-weight: bold;
    padding: 0 0 10px 30px;
    width: 194px;
}

div#shopping_deliv div.orange_box div.remember_email {
        margin: 0 0 20px 15px;
}

div#shopping_deliv div.orange_box p.notice{
    font-size: 13px;
    margin: 0 0 20px 10px;
}

div#shopping_deliv .inner_area {
    border-style: none;
    font-size: 12px;
    margin: 0px 45px 30px 60px;
    width: 632px;
}

/* 買い物の流れ　ご注文完了
---------------------------------- */

div#shopping_complete div.orange_box {
        background: #fff;
        border: 3px solid #ffd482;
        margin: 5px 0 20px 0;
        padding: 30px 90px 0 90px;
}


div#shopping_complete h2 {
        margin: 0;
}

div#shopping_complete p.lead {
        color: #000;
        font-size: 15px;
        margin: 10px 0px 15px 0px;
}


div#shopping_complete span.red {
        color: #ff0000;
}

div#shopping_complete div.btn_area {
        margin: 30px 0 20px 0;
        text-align: center;
}


div#shopping_complete div.orange_box p.notice{
    font-size: 13px;
    margin: 0 0 20px 10px;
}

div#shopping_complete .inner_area {
    border-style: none;
    font-size: 12px;
    margin: 0px 45px 30px 60px;
    width: 632px;
}

div#shopping_complete .inner_area textarea{
    width: 630px;
}






/* adp
----------------------------------------------------*/
#mfp_thanks {
	display: none;
}
.btn-toppage a {
	display: block;
	width: 150px;
	background: #F63;
	padding: 10px 0;
	color: #fff;
	text-align: center;
	margin: 20px 0 40px;
	border-radius: 4px;		/* CSS3草案 */
	-webkit-border-radius: 4px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 4px;	/* Firefox用 */
}
.btn-toppage a:hover {
	background: #F85;
	text-decoration: none;
}

div.btn_area button,
div.mfp_buttons button {
	font-size: 16px;
	margin: 0px;
	padding: 20px !important;
	width: 200px;
	border: none;
	border-radius: 5px;
	margin: 0 20px;
}
div.mfp_buttons button {
	margin: 10px !important;
}
div.btn_area button:hover {
  filter: alpha(opacity=80);
  -moz-opacity:0.8;
  opacity:0.8;
}

div.btn_area button[type=reset],
div.mfp_buttons button#mfp_button_cancel {
	background: url(../img/fraijeu/sub_page/inquiry/btn-cancel.jpg) no-repeat 0 0;
}

div.btn_area button[type=submit],
div.mfp_buttons button#mfp_button_send {
	font-weight: bold;
	color: #fff;
	background: url(../img/fraijeu/sub_page/inquiry/btn-go.jpg) no-repeat 0 0;
}


#mfp_overlay_inner h4 {
	font-size: 24px;
	margin-top: 10px;
}
#goods_page #one_column { font-family: "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic ProN","游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", "verdana", sans-serif;}


@media only screen and (max-width: 750px) {
	/* Goods page content */
	.pc_only { display: none; }
	.sp_only { display: block; }

	#goods_page img { max-width: 100%; }
	#goods_page #one_column { background: #fff; }
	#goods_page div#one_maincolumn { width: 100%; }
	#goods_page div#header { 
		width: 100%;
		background: url("../img/fraijeu/hdr-bg-sp.jpg") repeat-x center top;
		background-size: contain;
	}
	#goods_page div#header h1 { 
		max-width: calc(100% - 100px);
		width: 300px;
	}
	#goods_page div#header h1 a { 
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center left;
		width: 100%;
		height: 62px;
		margin: 0;
	}
	#goods_page div#header .upper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding: 5px 20px;
	}
	#goods_page div#information { padding: 0; }
	#goods_page div#information ul li {
		background: none; 
		padding-left: 0;
		display: inline-block;
		vertical-align: bottom;
	}
	#goods_page div#information ul li:last-child { margin-left: 20px; }
	#goods_page div#information ul li img { 
		max-height: 36px;
		width: 25px;
	}
    #goods_page div#product_index div.white_box div.top_box div.text p.explain {
        word-break: break-word;
    }
    #goods_page div#product_index div.white_box div.top_box div.text div.textLower span.bull {
        display: inline-block;
    }
	#goods_page div#information ul li a {
		display: block;
	}
  #goods_page div#breadcrumb { display: none; }
	#goods_page #sub_list { width: 100%; }
	#goods_page #main_menu { 
		background: #fff;
		margin: 0;
		float: none;
		display: flex;
		gap: 3px;
	}
	#goods_page  #main_menu li a { 
		display: block;
		height: 100%;
	}
	#goods_page div#container { 
		width: 100%;
		box-sizing: border-box;
		padding: 0;
		overflow: hidden;	
	}
    #goods_page div#product_index {
        font-size: 14px;
    }
	#goods_page div#product_index h2.img_ttl {
		width: 100%;
		max-width: 200px;
		margin: 0 auto;
		padding-right: 25px;
	}
	#goods_page div#product_index div.white_box { 
		background: #fff;
		padding-bottom: 0;
		position: relative;
		width: 100%; 
    box-sizing: border-box;
	}
	#goods_page #pagetop { 
		width: 100%;
		box-sizing: border-box;
	}
	#goods_page div#product_index p.lead { 
        margin: 10px 0 0 0; 
        padding: 0 20px;
    }
	#goods_page div#product_index div.white_box div.top_box { 
		position: relative;
		margin: 0;
		min-height: 0;
    padding: 0 20px;
		max-width: 400px;
		margin: 20px auto 0;
	}
	#goods_page div#product_index div.white_box div.top_box div.text { width: 100%; }
	#goods_page div#product_index div.white_box div.top_box div.text p.title {
		display: table-cell;
		font-size: 18px;
		height: 145px;
		padding-bottom: 10px;
		padding-left: 135px;
		padding-top: 0;
		vertical-align: middle;
	}
	#goods_page div#product_index div.white_box div.top_box div.text p.title br.sp_only {
		display: inline;
	}
	.title__tbl {
		display: table; width: 100%; height: 100%;
	}
	.title__tblcell {
		display: table-cell; width: 100%; height: 100%; vertical-align: middle;
	}
	#goods_page div#product_index div.white_box div.top_box div.picture_area {
		width: 150px;
		position: absolute;
		top: 0;
		left: 0;
	}
	#goods_page div#product_index div.white_box div.bottom_box {
		margin: 0;
    padding: 0 20px;
		width: 100%;
		max-width: 415px;
		margin: 0 auto;
		box-sizing: border-box;
	}
	#goods_page div#product_index div.white_box div.bottom_box div.btn_area {
		width: 100%;
		float: none;
		text-align: center;
		margin: 0;
	}
	#goods_page div#product_index div.white_box div.bottom_box div.btn_area a { 
		display: block;
		width: 100%;
	}
	#goods_page div#product_index div.white_box div.bottom_box div.btn_area img { margin: 0 0 10px; }
	#goods_page div#product_index div.white_box div.bottom_box div.detail_area { 
		margin: 25px 0 0; 
		display: flex;
		flex-direction: column-reverse;
  }
	div#product_index div.white_box div.bottom_box div.detail_area .size { 
		margin: 10px 0 0;
		position: relative; 
		padding-left: 15px;
        font-size: 110%;
	}
	#goods_page div#product_index div.white_box div.bottom_box div.detail_area .size:before {
		content: "";
		background-color: #000;
		width: 12px;
		height: 12px;
		position: absolute; 
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		border-radius: 50%;
	}
	#goods_page div#product_index div.white_box div.bottom_box div.price_area {
		float: none;
		margin: 10px 0;
		width: 100%;
	}
	#goods_page div#product_index div.white_box div.bottom_box div.price_area p.normal_price {
		font-size: 16px;
		line-height: 1.2;
		position: absolute;
		bottom: 13px;
		left: 20px;
	}
	#goods_page div#product_index div.white_box div.bottom_box div.price_area p.normal_price span { font-size: 12px; }
	#goods_page div#product_index div.white_box div.bottom_box div.price_area p.normal_price small.sp_only { display: inline-block; font-size: 100%; }
	#goods_page div#product_index div.white_box div.bottom_box div.price_area p.bonus_price { font-size: 20px; }
	#goods_page div#product_index div.white_box div.bottom_box div.price_area p.bonus_price span.l { font-size: 20px; }
	#goods_page div#product_index div.white_box div.bottom_box div.price_area p.bonus_price span.ll { font-size: 20px; }
	#goods_page div#product_index div.white_box div.bottom_box div.price_area p.bonus_price span.text-right { font-size: 16px; margin-left: 158px; }
	#goods_page div#product_index div.white_box div.bottom_box div.btn_area .gray_btn { text-align: right; }
	#goods_page div#product_index div.white_box div.bottom_box div.btn_area .gray_btn img { width: calc(100% - 107px); display: inline-block; }
	#goods_page div#product_index div.white_box div.bottom_box div.btn_area .gray_btn img.pc_only { display: none; }
	#goods_page div#product_index div.white_box div.bottom_box div.btn_area .btn_area__new { position: relative; }
	#goods_page div#product_index div.white_box div.bottom_box div.btn_area .btn_area__new:before { background: url('../img/fraijeu/product_index/btn_order-3-sp-new.png') no-repeat center top; background-size: contain; content: ''; height: 55px; left: -20px; position: absolute; top: -20px; width: 55px; z-index: 999; }

	/* Goods page footer */
	#goods_page .footer_cont { background: #fff; }
	#goods_page #pagetop { background: none; }
	#goods_page #pagetop ul {
    display: flex;
    flex-wrap: wrap;
  }
	#goods_page #pagetop ul li { width: 50%; }
	#goods_page #fotter {
		background: #211816;
		border: 0;
	}
	#goods_page #fotter address { color: #fff; }
	

}