@charset "utf-8";


/* 検索結果
----------------------------------------------- */
p.conditionarea {
    clear: both;
    width: 566px;
    margin: 0 auto;
    padding: 5px;
    border: solid 1px #333;
}


/* ページ送り
----------------------------------------------- */
.pagenumberarea, .pagecondarea {
    clear: both;
    width: 560px;
    margin: 20px 0;
    padding: 10px;
    background-color: #f3f3f3;
}

.pagenumberarea {

}

.pagecondarea {
    border: 1px solid #CCCCCC;
}

.pagenumberarea li {
    float: left;
    width: 32.9%;
}

.pagenumberarea li.left {
    text-align: left;
    white-space: nowrap;
}

.pagenumberarea li.center {
    text-align: center;
    white-space: pre;
}

.pagenumberarea li.right {
    text-align: right;
    white-space: nowrap;
}

.pagenumberarea .pagenumber{
    color: #ff0000;
    font-weight: bold;
}

p.pagenumberarea .number{
    font-weight: bold;
}

/* 商品一覧 */

/* タイトル
----------------------------------------------- */
div#listtitle {
    width: 580px;
    margin: 0 0 10px 0;
    border-top: 2px solid #ff0000;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #999;
    background: url("../img/products/title_icon.gif") no-repeat left center;
    background-color: #ffebca;
}

div#listtitle h2 {
    padding: 10px 0 10px 30px;
    font-size: 140%;
}


/* 商品
----------------------------------------------- */
div.listarea {
    clear: both;
    width: 580px;
    padding: 20px 0 30px 0;
    overflow: auto;
    background: url("../img/common/line_580.gif") no-repeat bottom;
}

div.listphoto {
    float: left;
    width: 130px;
}

div.listrightblock {
    float: right;
    width: 440px;
}

div.listrightblock li {
    display: inline;
    padding: 0 0 10px 0;
}

div.listrightblock h3 {
    width: 420px;
    margin: 0px 0px 5px 0px;
    padding: 5px 10px;
    border-bottom: 2px solid #ebebd6;
    background-color: #f9f9ec;
    font-size: 120%;
}

div.listrightblock h3 a {
    font-size: 100%;
    font-weight: bold;
}

div.listrightblock .listcomment {
    margin: 0 0 10px 0;
}

div.listrightblock .pricebox {
    float: left;
    text-align: right;
}

div.listrightblock .soldout {
    clear: both;
}

div.listrightblock .in_cart {
    margin: 15px auto 15px 0px;
    padding: 10px;
    width: 418px;
    clear: both;
    background-color: #ecf5ff;
    border: 1px solid #CCCCCC;
}

div.listrightblock .quantity {
    width: 150px;
}

div.listrightblock .btnbox {
    margin: 0 0 10px 0;
    padding: 1px;
    float: right;
}

div.listrightblock dt {
    width: 105px;
    float: left;
    text-align: right;
    padding: 3px;
    font-weight: bold;
}

div.listrightblock dd {
    padding: 3px;
}

div.listrightblock .cartbtn {
    clear: both;
    text-align: center;
}

div.listrightblock .cartbtn img {
    display: block;
    width: 115px;
    margin: 5px auto 0 auto;
}

div.listrightblock .box54 {
    width: 54px;
    border: solid 1px #ccc;
}

/* 商品詳細 */

/* タイトル
----------------------------------------------- */
div#detailtitle {
    width: 580px;
    margin: 0 0 10px 0;
    border-top: 2px solid #ff0000;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #999;
    background: url("../img/products/title_icon.gif") no-repeat left center;
    background-color: #ffebca;
}

div#detailtitle h2 {
    padding: 10px 0 10px 30px;
    font-size: 140%;
}


/* 商品
----------------------------------------------- */
div#detailphotoblock {
    float: left;
    width: 262px;
}

div#detailphotoblock p {
    margin: 5px 0 0 0;
}

div#detailrightblock {
    float: right;
    width: 310px;
}

div#detailrightblock li {
    display: inline;
}

div#detailrightblock h2 {
    margin: 5px 0;
    padding: 0;
    color: #ff6600;
    font-size: 140%;
    font-weight: bold;
}

div#detailrightblock dl {
    padding: 15px 0 0 0;
}

div#detailrightblock dt {
    font-weight: bold;
    padding: 0 0 0 15px;
    background: url("../img/common/arrow_gray.gif") no-repeat left center;
}

div#detailrightblock dd {
    margin: 0 15px 0 0;
}

div#detailrightblock .box54 {
    width: 54px;
    border: solid 1px #ccc;
}

div#detailrightblock .btn {
    clear: both;
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
    text-align: center;
    background: url("../img/common/line_280.gif") no-repeat;
}

/* サブタイトル
----------------------------------------------- */
div.subarea {
    clear: both;
    width: 580px;
    padding: 30px 0 0 0;
}

div.subarea h3 {
    width: 560px;
    font-size: 120%;
    margin: 0 0 10px 0;
    padding: 5px 10px;
    background-color: #e4e4e4;
}

div.subtext {
    float: left;
    width: 365px;
}

div.subphotoimg {
    float: right;
    width: 202px;
}

div.subphotoimg p {
    margin: 5px 0 0 0;
    text-align:right;
}


/* お客様の声
----------------------------------------------- */
div#customervoicearea {
    clear: both;
    padding: 35px 0 0 0;
    height:300px;
    overflow:auto;
}

div#customervoicearea h2 {
    padding: 0 0 10px 0;
}

div#customervoicearea .voicedate{
    font-weight: bold;
    margin: 10px 0 0 0;
}

div#customervoicearea .voicetitle{
    padding: 5px 0;
    color:#FF7E00;
    font-size: 120%;
    font-weight: bold;
}

div#customervoicearea li {
    padding: 0 0 10px 0;
    border-bottom:1px dashed #999999;
}

.replaycomment{
    margin:0px 0px 5px 0px;
}

div#customervoicearea h4{
    margin:10px 0px 5px 0px;
}

/* トラックバック
----------------------------------------------- */
div#trackbackarea {
    clear: both;
    width: 580px;
    padding: 35px 0 0 0;
}

div#trackbackarea h2 {
    padding: 0 0 10px 0;
}

div#trackbackarea h3 {
    font-size: 100%;
    font-weight: bold;
    padding: 0 0 10px 0;
}

div#trackbackarea .box500 {
    width: 500px;
    border: solid 1px #ccc;
}

/* この商品を買った人はこんな商品も買っています
----------------------------------------------- */
div#whoboughtarea {
    clear: both;
    width: 580px;
    padding: 35px 0 0 0;
}

div.whoboughtblock {
    clear: both;
    width: 580px;
    padding: 10px 0;
    overflow: auto;
}

div.whoboughtleft {
    float: left;
    width: 280px;
    padding: 10px 0;
    position: relative;
    background: url("../img/common/line_578.gif") no-repeat bottom;
}

div.whoboughtleft img {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}

div.whoboughtleft p {
    margin: 0 0 5px 0;
}

div.whoboughtright {
    float: right;
    width: 280px;
    padding: 10px 0;
    position: relative;
    background: url("../img/common/line_578.gif") no-repeat bottom;
}

div.whoboughtright img {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}

div.whoboughtright p {
    margin: 0 0 5px 0;
}

div.whoboughtleft h3 {
    font-size: 100%;
}

div.whoboughtright h3 {
    font-size: 100%;
}

div#goods_detail div#detailarea p.title {
    color: #FF7E00;
    font-size: 24px;
}

div#goods_detail div#detailarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #FFD482;
    margin: 20px 0;
    padding: 24px 23px;
}

div#goods_detail #item_name{
    background: url("../img/fraijeu/products/product_title.png") no-repeat;
    width:535px;
    height:46px;
    color:#ffffff;
    font-size:17px;
    padding:10px 0px 0px 52px;
}

#recommend_periodic{
    width:471px;
    height:263px;
    padding:90px 0px 0px 105px;
}

a#about_bornus{
    background:url('../img/fraijeu/products/bornus.gif');
    width:162px;
    height:60px;
    display:block;
    margin-bottom:60px;
}

a#about_bornus:hover{
    background:url('../img/fraijeu/products/bornus_on.gif');
}

a#periodic_link {
    background: url("../img/fraijeu/products/recommend_periodic.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 42px;
    margin-left: 207px;
    margin-top: 155px;
    width: 248px;
}

a#periodic_link:hover{
    background:url('../img/fraijeu/products/recommend_periodic_on.gif');
}

#detail_memo1_area{
    width:576px;
    margin:10px 0px 0px 150px;
}

#cart{
    margin-bottom:80px;
}
